// Global variables
//
// Base font styles for headings and links.

$fontMain: 'Muli', sans-serif;
$fontCapital: 'Novecento', sans-serif;
$fontHeading: 'Canela', sans-serif;


$colorFontFooter: #a5a8ac;


$colorMain: #0a1e38;
$colorAccent: #ff5746;
$colorBg: #eff5f9;
$colorBorderLight: #96b7d1;
$colorBorderFooter: #394555;


// For headers
$headings: (
  'sizes': (
    'h1-font-size': 30px,
    'h2-font-size': 27px,
    'h3-font-size': 24px,
    'h4-font-size': 21px,
    'h5-font-size': 17px,
    'h6-font-size': 15px
  ),
  'fonts': (
    'headings-font-family': $fontHeading,
    'headings-color': inherit
  )
);

// Global vars for body typography
$base: (
  'base-font-sans-serif': $fontCapital,
  'base-font-serif': unquote("'Times New Roman', Times, Baskerville, Georgia, serif"),
  'base-text-color': $colorMain,
  'base-background-color': #fff,
  'base-link-color':$colorMain,
  'base-font-size': 16px,
  'base-line-height': 1.2,
  'base-font-family': unquote("Arial, 'Helvetica Neue', Helvetica, sans-serif"),
  'vertical-rhythm': '(map-get($base, base-line-height) * 1em)',
  'base-min-width': 320px
);

// Vars for forms
$forms: (
  'form-element-padding': unquote("0.4em 0.7em"),
  'form-element-border-color': #999,
  'form-element-focus-border-color': #000,
  'placeholder-color': #999
);

// Breakpoints for include media mixin
$breakpoints: (
  'phone': 480px,
  'smart': 640px,
  'tablet': 768px,
  'sm-desktop': 980px,
  'desktop': 1024px,
  'widescreen': 1200px,
  'xxl': 1280px
);

// Keywords for include media mixin
$media-expressions: (
  'screen': 'screen',
  'print': 'print',
  'handheld': 'handheld',
  'landscape': '(orientation: landscape)',
  'portrait': '(orientation: portrait)',
  'retina2x': '(-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi)',
  'retina3x': '(-webkit-min-device-pixel-ratio: 2.5), (min-resolution: 240dpi)'
);