.about__st-col--text {
    padding: 0 110px;
}

.st-intro h2 {
    text-align: center;
    font: 300 30px/1 $Nunito;
    padding-bottom: 10px;
}

.about__st-descr p {
    margin-top: 35px;
    font: 400 16px/1.5 $YantramanavThin;
}

.about__st-col--img {
    background: url('../img/about.jpg') no-repeat center;
    background-size: cover;
}
