@media only screen and (max-width: 1200px) {
    .container {
        padding: 0 15px;
    }
    .descr-elem--left-1,
    .descr-elem--left-2,
    .descr-elem--left-3,
    .descr-elem--left-4,
    .descr-elem--right-1,
    .descr-elem--right-2,
    .descr-elem--right-3,
    .descr-elem--right-4,
    .descr-elem--right-5 {
        &:after {
            display: none;
        }
        &:before {
            display: none;
        }
    }
    .descr-elem__circle {
        display: none;
    }
}

@media only screen and (max-width: 1050px) {
    .about__st-col--text {
        padding: 0 50px;
    }
}

@media only screen and (max-width: 992px) {}

@media only screen and (max-width: 870px) {
    .about__st-col--text,
    .review-one__st-col--text,
    .review-two__st-col--text {
        padding: 15px;
    }
}

@media only screen and (max-width: 830px) {
    .find-list-elem {
        width: 25%;
    }
    .place-area {
        background-size: cover;
    }
}

@media only screen and (max-width: 768px) {
    .header {
        height: 600px;
    }
    .header-about {
        margin-top: 100px;
    }
    .about__st-descr p {
        font-size: 15px;
    }
    .cols {
        flex-direction: column;
    }
    .about__st-col--text,
    .review-one__st-col--text,
    .review-two__st-col--text {
        width: 90%;
        margin: 0 auto;
    }
    .st-col--img {
        height: 300px;
        width: 100%;
    }
    .section-med {
        height: auto;
    }
    .review-one.cols {
        flex-direction: column-reverse;
    }
    .review__st-intro {
        margin-bottom: 80px;
    }
    .review__st-descr p:first-child {
        margin: 30px 0 50px;
    }
    .review-one__st-col--text,
    .review-two__st-col--text {
        margin: 25px 0;
    }
    .slider-wrapper {
        padding: 30px 0;
    }
    .place-area {
        background-image: none;
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
    }
    .descr-clmn {
        position: static;
    }
    .find-intro h2 {
        margin-top: 40px;
    }
    .find-descr p {
        margin-bottom: 20px;
    }
    .ft-form {
        padding: 60px 0 50px;
    }
}

@media only screen and (max-width: 680px) {
    .slider-slide__img img {
        width: 100%;
    }
    .slider-slide__img {
        height: auto;
    }
    .find-list-elem {
        width: 33%;
    }
}

@media only screen and (max-width: 640px) {
    .header-intro h1 {
        font-size: 45px;
    }
    .heade-descr p {
        font-size: 18px;
    }
    .header-form input[type="email"],
    .ft-form input[type="email"] {
        padding: 10px 25px;
        font-size: 16px;
    }
    .header-form button,
    .ft-form button {
        font-size: 18px;
        padding: 10px 25px;
    }
}

@media only screen and (max-width: 550px) {
    .header-form input[type="email"],
    .ft-form input[type="email"] {
        width: 250px;
    }
    .heade-descr p {
        font-size: 15px;
    }
    .find-list-elem {
        width: 50%;
        margin-bottom: 30px;
    }
    .find-list-elem:nth-child(n+5) {
        display: none;
    }
    .place-area {
        flex-wrap: wrap;
    }
    .descr-clmn {
        width: 100%;
    }
    .place-area {
        height: auto;
    }
}

@media only screen and (max-width: 470px) {
    .heade-descr p br {
        display: none;
    }
    .header-form input[type="email"],
    .ft-form input[type="email"] {
        padding: 10px 0 10px 15px;
        width: 200px;
    }
    .find-intro h2 {
        margin-top: 20px;
    }
    .find-descr p {
        margin-bottom: 20px;
    }
    .header-form button,
    .ft-form button {
        padding: 10px;
        width: 90px;
    }
    .about__st-col--text {
        width: 100%;
    }
    .st-intro h2 {
        font-size: 25px;
    }
}

@media only screen and (max-width: 430px) {
    .review__st-descr p:first-child {
        font-size: 15px;
    }
    .stock-info--mail {
        display: block;
        margin-right: 0;
    }
}

@media only screen and (max-width: 350px) {
    .find-list-elem {
        width: 100%;
        text-align: center;
    }
    .find-list-elem:nth-child(n+3) {
        display: none;
    }
}
