.place {
    background-color: #e1e0e1;
}

.place-wrapper {
    padding: 80px 20px 0px;
}

.place-intro,
.place-descr {
    text-align: center;
}

.place-intro h2 {
    font: 300 30px/1.5 $Nunito;
    margin-bottom: 10px;
}

.place-descr p {
    font: 400 18px/1.5 $YantramanavThin;
}

.place-area {
    position: relative;
    height: 650px;
    background: no-repeat center url('../img/markerst.png');
}

.descr-clmn {
    display: inline-block;
    width: 20%;
    min-width: 240px;
    box-sizing: border-box;
    position: absolute;
}

.descr-clmn--left {
    left: 0;
}

.descr-clmn--right {
    right: 0;
}

.place-image {
    position: absolute;
    left: 220px;
    img {
        display: block;
        width: 100%;
    }
}

.descr-elem {
    background-color: #fff;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 10px;
    position: relative;
}

.descr-elem__intro {
    font: 400 16px/1.5 $Yantramanav;
}

.descr-elem__descr {
    font: 400 14px/20px $YantramanavThin;
}

.descr-elem__circle {
    position: absolute;
    right: -50px;
    display: block;
    width: 24px;
    height: 24px;
    border-radius: 50%;
}

.descr-elem__circle--left-1 {
    right: -31%;
    bottom: -89px;
}

.descr-elem__circle--left-2 {
    right: -39%;
    bottom: 40px;
}

.descr-elem__circle--left-3 {
    right: -42%;
    bottom: 120px;
}

.descr-elem__circle--left-4 {
    right: -94%;
    bottom: 113px;
}

.descr-elem__circle--right-1 {
    left: -148%;
    bottom: -105px;
}

.descr-elem__circle--right-2 {
    left: -128%;
    bottom: -70px;
}

.descr-elem__circle--right-3 {
    left: -56%;
    bottom: 40px;
}

.descr-elem__circle--right-4 {
    left: -88%;
    bottom: 100px;
}

.descr-elem__circle--right-5 {
    left: -165%;
    bottom: 40px;
}

.descr-elem--left-1,
.descr-elem--left-2,
.descr-elem--left-3,
.descr-elem--left-4,
.descr-elem--right-1,
.descr-elem--right-2,
.descr-elem--right-3,
.descr-elem--right-4,
.descr-elem--right-5 {
    &:after {
        position: absolute;
        content: '';
        background-color: #fff;
    }
    &:before {
        position: absolute;
        content: '';
        background-color: #fff;
    }
}

.descr-elem--left-1 {
    &:after {
        width: 1px;
        right: -26%;
        top: 15px;
        height: 160px;
    }
    &:before {
        width: 26%;
        right: -26%;
        height: 1px;
    }
}

.descr-elem--left-2 {
    &:after {
        height: 1px;
        width: 32%;
        right: -32%;
        bottom: 50px;
    }
}

.descr-elem--left-3 {
    &:after {
        height: 1px;
        width: 35%;
        right: -35%;
        bottom: 130px;
    }
}

.descr-elem--left-4 {
    &:after {
        height: 1px;
        width: 89%;
        right: -89%;
        bottom: 50px;
    }
    &:before {
        height: 79px;
        right: -89%;
        width: 1px;
        width: 1px;
        top: 7px;
    }
}

.descr-elem--right-1 {
    &:before {
        height: 1px;
        top: 30px;
        left: -143%;
        width: 143%;
    }
    &:after {
        width: 1px;
        top: 30px;
        left: -143%;
        height: 132px;
    }
}

.descr-elem--right-2 {
    &:before {
        height: 1px;
        top: 30px;
        left: -123%;
        width: 123%;
    }
    &:after {
        width: 1px;
        top: 30px;
        left: -123%;
        height: 135px;
    }
}

.descr-elem--right-3 {
    &:before {
        height: 1px;
        top: 62px;
        left: -50%;
        width: 50%;
    }
}

.descr-elem--right-4 {
    &:before {
        height: 1px;
        top: 70px;
        left: -83%;
        width: 83%;
    }
    &:after {
        width: 1px;
        top: 30px;
        left: -83%;
        height: 41px;
    }
}

.descr-elem--right-5 {
    &:before {
        height: 1px;
        top: 43px;
        left: -157%;
        width: 157%;
    }
}

.descr-elem__circle--white {
    position: absolute;
    top: calc(50% - 8px);
    left: calc(50% - 8px);
    width: 16px;
    height: 16px;
    background-color: #fff;
    border-radius: 50%;
    z-index: 2;
    display: block;
}

.descr-elem__circle--transparent {
    width: 24px;
    height: 24px;
    background-color: rgba(255, 255, 255, .5);
    border-radius: 50%;
    z-index: 1;
    display: block;
}
