.review-one__st-col--img {
    background: url('../img/reviews.jpg') no-repeat center;
    background-size: cover;
}

.review-two__st-col--img {
    background: url('../img/reviews-two.jpg') no-repeat center;
    background-size: cover;
}

.review__st-descr {
    text-align: center;
    p:first-child {
        margin-top: 130px;
        margin-bottom: 100px;
        font: 400 20px/1.5 $YantramanavThin;
    }
    p:last-child {
        font: 400 18px/1.5 $YantramanavThin;
    }
}
