include ../mixins/index

doctype html
html(lang='ru')
  include ../partials/head
  body
    include ../partials/header
    include ../partials/about
    include ../partials/callback
    include ../partials/invite
    include ../partials/reviews
    include ../partials/contacts
    include ../partials/footer

    include ../partials/foot