html, 
body {
    overflow-x: hidden;
     background-color: $colorBg;
     position: relative;
}

.container {
    margin: 0 auto;
    max-width: 1230px;
    padding: 0 15px;
}

.badge {
    position: absolute;
    span {
        color: $colorAccent;
    }
    &::before {
        @include size(126px);
        @include acenter;
        content: "";
        display: block;
        border: 2px solid $colorAccent;
        border-radius: 50%;
    }
}

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    background: #eff5f9;
    display: flex;
    justify-content: center;
    align-items: center;
}