body {
    padding: 0;
    margin: 0;
}

.main-wrapper {
    /*display: flex;*/
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.outer-wrapper {
    display: inline-block;
    border: 1px solid;
    border-radius: 6px;
    width: 288px;
    height: 387px;
    font-family: Trebuchet MS;
    background: #fff;
    transition: 0.8s;
}

.outer-wrapper:hover {
     height: 400px;
     border-top-width: 15px;
     border-width: 4px;
     transition: 0.8s;
     transform: scale(1.1);
     z-index: 999;
     position: relative;
 }

.icon-1 {
   border-color: #37c2d3;
 }

.icon-2 {
  border-color: #ee8129;
}

.icon-3 {
  border-color: #1cb79a;
}

.inner-wrapper {
  padding: 5px;
}

h2 {
  display: block;
  width: 100%;
  color: #fff;
  margin: 0;
  text-align: center;
  padding: 10px 0;
}

.standard {
  background: #37c2d3;
}

.best {
  background: #ee8129;
}

.ultimate {
  background: #1cb79a;
}

h3 {
  display: block;
  width: 100%;
  margin: 0;
  text-align: center;
  color: #3f4042;
  font-size: 22px;
  padding-top: 5px;

}

.price {
  width: 100%;
  font-size: 72px;
  font-weight: bold;
  color: #35495a;
  text-align: center;
  margin: 10px 0;
}

.price:before {
  content: "$";
  font-size: 30px;
  font-weight: bold;
  vertical-align: top;
}

.price:after {
  content: "Mothly";
  font-size: 18px;
  vertical-align: sub;
}

ul {
  list-style: none;
  padding: 5px;
  text-align: justify;
}

li {
    background-color: gray;
    padding: 3px 0 3px 45px;
    border-bottom: 1px solid #fff;
}

li::before {
    content: url(mark.png);
    margin-right: 10px;
}

li:nth-of-type(odd) {
background-color: #EDF5FD;
}

li:nth-of-type(even) {
    background-color: #E8F2FB;
}

a {
    display: block;
    color: white;
    width: 253px;
    height: 20px;
    padding: 10px 0;
    font-size: 14px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    margin-left: 11px;
    margin-bottom: 10px;
    text-align: center;
}

.blue {
  background-color: rgb(51, 113, 166);
  box-shadow: 0 3 0 0 rgba(22, 67, 106, 0.004);
}

.orange {
  background-color: rgb(236, 129, 54);
  box-shadow: 0 3 0 0 rgba(177, 86, 27, 0.004);
}