body{
	font-family: Economica;
	font-size: 150%;
}

ul{
	margin-left: 50px;
}

li{
	display: inline-block;
	margin-left: 20px;


}
.menu{
	background-color: #B14AFF;
 
}
a{  
	display: block;
	line-height: 2em;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	color: #fff;
}

.menu li a:hover{
	color: grey;
	background-color: silver;
}