$font-main: "Open Sans", sans-serif;

$text-main: rgb(111, 113, 115);
$text-secondary: rgb(144, 144, 144);

$border-grey: rgb(222, 222, 222);
$border-darkgrey: rgb(205, 205, 205);

$main-red: rgb(217, 71, 72);
$main-yellow: rgb(235, 187, 17);
$main-blue: rgb(80, 148, 242);
$button_hover-blue: rgb(72, 133, 218);
$features_hover-blue: rgb(51, 94, 155);