$roboto: 'Roboto-Regular', sans-serif;
$regular: 'MyriadPro-Regular', sans-serif;
$semibold: 'MyriadPro-Semibold', sans-serif;
$bold: 'MyriadPro-Bold', sans-serif;


$mint: #d7ec4c;
$light-grey: #e4e4e4;

$text-grey: #b7b7b7;
$text-yellow: #d8ec54;