.checkbox_checked, .radio_button, .radio_button_hover, .icon_home, .checkbox{
	background: url(sprites.png) no-repeat;
}

.checkbox_checked{
	background-position: 0 0;
	width: 20px;
	height: 20px;
}

.radio_button{
	background-position: -26.988632202148438px 0;
	width: 20px;
	height: 20px;
}

.radio_button_hover{
	background-position: -55.99147033691406px -0.99432373046875px ;
	width: 20px;
	height: 20px;
}

.icon_home{
	background-position: -117.98579406738281px -5.99432373046875px ;
	width: 14px;
	height: 12px;
}

.checkbox{
	background-position: -86.99430847167969px -2px ;
	width: 20px;
	height: 20px;
}

