footer.footer
  .container
    .footer-logo
      a(href="index.html")
        img(src="assets/images/logo.svg", alt="le5000")
    .footer-row
      ul.footer-row__item
        li 
          address 5000, rue Saint-Georges
        li
          address Lévis (Québec)  G6C 1E1
      ul.footer-row__item
        li
          a(href="tel:41893273607") Tél. 418 932-9607
        li
          a(href="mailto:info@le5000.ca") info@le5000.com
      ul.footer-row__item
        li
          a(href="discover.html") Découvrir le projet  
        li
          a(href="map.html") Connaître le quartier
      ul.footer-row__item
        li
          a(href="plan.html") Plans des unités
        li
          a(href="contact.html") Nous joindre
    .footer-bottom
      span(class="footer-bottom__text") Le 5000 © 2017 
      a(href="http://turbulences.ca/", class="footer-bottom__text" target="_blank") Design site web: Turbulences
  //- .bottom-link-row

