script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBmt81xupFcPSKKehiITSADaRQZmI7lceE&libraries=places&callback=initMap', async ='', defer='')
script(src='assets/js/vendor.min.js', defer='')
script(src='assets/js/app.js', defer='')