html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  margin: 0;
  padding: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.switcher {
  display: none; }

.switcher:checked + .page .page-header__menu {
  display: block; }

.switcher:checked + .page {
  margin-left: -65%; }

.page {
  width: 100%;
  position: relative; }

.page-header {
  overflow: hidden;
  line-height: 89px;
  text-align: right; }

.page-header__logo {
  float: left;
  height: 89px;
  margin-left: 5%; }

.page-header__logo--link {
  text-decoration: none;
  font: 42px/89px "Open Sans", sans-serif;
  color: black;
  position: relative;
  padding-left: 56px; }

.page-header__logo--icon {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 44px;
  height: 44px;
  background: url("../img/sprite-desktop.png") 0 0 no-repeat; }

.page-header__menu {
  display: inline-block;
  line-height: normal;
  vertical-align: bottom;
  margin-right: 5%; }

.page-header__menu--link {
  display: inline-block;
  position: relative;
  margin: 0 10px;
  padding: 0 3px 18px;
  font: 20px "Open Sans", sans-serif;
  color: #6c6c6c;
  text-decoration: none; }

.page-header__menu--link:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 3px; }

.page-header__menu--link:hover {
  background: none; }

.page-header__menu--link:hover:before {
  background: #5094f2; }

.page-header__button {
  display: none; }

.main-slider {
  height: 489px;
  background: url("../img/slider-bkg.jpg") center no-repeat;
  background-size: cover; }

.main-slider__background {
  height: 100%;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAICAYAAADN5B7xAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAaElEQVQY043LoQ3CUBRA0QcJCYIEi8NikEhWwdZ3isq%2FBBOAxzAAljWqKtqcKkLafGiPvjciA0ccYg7s8MID66l4i7uv6l%2B8wdVQi0suXiLJq3EeDyU6v72x%2F8QFGtNuWC3wjIhTzJN6Bzu6dgDAzNIAAAAASUVORK5CYII%3D) 0 481px repeat-x;
  position: relative; }

.main-slider__swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative;
  height: 100%;
  margin: 0 7%; }

.main-slider__wrapper {
  overflow: hidden;
  position: relative;
  height: 100%; }

.main-slider__slide {
  float: left;
  width: 100%;
  height: 100%;
  line-height: 489px;
  position: relative;
  text-align: center; }

.main-slider__slide:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 345px;
  height: 436px;
  background: url("../img/sprite-desktop.png") 0 -186px no-repeat; }

.slide-block {
  display: inline-block;
  line-height: normal;
  vertical-align: middle;
  text-align: left;
  margin-left: 10%; }

.slide-block__header {
  font: 42px "Open Sans", sans-serif;
  color: white; }

.slide-block__text {
  font: 26px/1.6 "Open Sans", sans-serif;
  color: white;
  margin-bottom: 30px; }

.slider-button {
  display: inline-block;
  text-decoration: none;
  position: relative;
  width: 172px;
  height: 41px;
  margin-left: 5%;
  overflow: visible;
  background: #5094f2;
  border-radius: 2px; }

.slider-button:hover {
  background: #4885da; }

.slider-button:before {
  content: "";
  position: absolute;
  left: 10px;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 23px;
  height: 23px;
  background: url("../img/sprite-desktop.png") -44px 0 no-repeat; }

.slider-button__text {
  position: absolute;
  top: 5px;
  right: 10px;
  font: 22px "Open Sans", sans-serif;
  color: white; }

.slider-arrow {
  position: absolute;
  width: 25px;
  height: 63px;
  top: 0;
  bottom: 0;
  margin: auto;
  cursor: pointer; }

.slider-arrow__left {
  left: 4%;
  background: url("../img/sprite-desktop.png") -1021px 0 no-repeat; }

.slider-arrow__right {
  right: 4%;
  background: url("../img/sprite-desktop.png") -996px 0 no-repeat; }

.features {
  text-align: center;
  margin: 5% 0; }

.features-block {
  display: inline-block;
  width: 20%; }

.features-block + .features-block {
  margin-left: 10%; }

.features-block__image {
  display: inline-block;
  width: 186px;
  height: 186px;
  background: url("../img/sprite-desktop.png") no-repeat; }

.features-block__image--pencil {
  background-position: -67px 0; }

.features-block__image--monitor {
  background-position: -253px 0; }

.features-block__image--cart {
  background-position: -439px 0; }

.features-block__text {
  margin-top: 20px; }

.features-block__link {
  text-decoration: none;
  font: 20px "Open Sans", sans-serif;
  color: #5094f2; }

.features-block__link:hover {
  color: #335e9b; }

.features-paragraph {
  font: 14px "Open Sans", sans-serif;
  color: #909090;
  margin-top: 5px; }

.product {
  margin: 10%; }

.product-header {
  font: 42px "Open Sans", sans-serif;
  color: #6f7173;
  margin-bottom: 30px; }

.product-image {
  float: left;
  width: 371px;
  height: 279px;
  margin-right: 8%;
  background: url("../img/sprite-desktop.png") -625px 0 no-repeat; }

.product-description {
  overflow: hidden; }

.product-description__header {
  font: 26px "Open Sans", sans-serif;
  color: #6f7173;
  margin-bottom: 5%; }

.product-description__paragraph {
  font: 15px/2.3 "Open Sans", sans-serif;
  color: #909090; }

.footer {
  font: 15px/5 "Open Sans", sans-serif;
  color: #909090;
  text-align: center;
  border-top: solid 1px #dedede;
  clear: both; }

@media screen and (max-width: 970px) {
  .main-slider {
    height: 247px; }
  .main-slider__background {
    background: none; }
  .main-slider__swipe {
    margin: 0; }
  .main-slider__slide {
    line-height: 247px; }
  .main-slider__slide:before {
    width: 177px;
    height: 214px;
    background: url("../img/sprite-mobile.png") 0 -83px no-repeat; }
  .slide-block {
    line-height: normal; }
  .slide-block__header {
    font: 30px "Open Sans", sans-serif; }
  .slide-block__text {
    font: 22px/1.6 "Open Sans", sans-serif; }
  .slider-button {
    width: 235px;
    height: 53px;
    margin-left: 0; }
  .slider-button:before {
    width: 35px;
    height: 35px;
    background: url("../img/sprite-mobile.png") -63px 0 no-repeat; }
  .slider-button__text {
    font: 30px "Open Sans", sans-serif;
    left: 60px; }
  .slider-arrow {
    display: none; } }

@media screen and (max-width: 940px) {
  .features-block {
    width: 25%; }
  .features-block + .features-block {
    margin-left: 5%; }
  .features-block__image {
    width: 110px;
    height: 110px;
    border-radius: 55px;
    position: relative; }
  .features-block__image:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background: url("../img/sprite-mobile.png") no-repeat; }
  .features-block__image--pencil {
    background: #5094f2; }
  .features-block__image--pencil:before {
    width: 60px;
    height: 83px;
    background-position: -98px 0; }
  .features-block__image--monitor {
    background: #d94748; }
  .features-block__image--monitor:before {
    width: 73px;
    height: 63px;
    background-position: -158px 0; }
  .features-block__image--cart {
    background: #ebbb11; }
  .features-block__image--cart:before {
    width: 81px;
    height: 73px;
    background-position: -231px 0; } }

@media screen and (max-width: 880px) {
  .product-header {
    text-align: center; }
  .product-image {
    float: none;
    margin: 5% auto 10%; }
  .product-description__paragraph {
    font: 17px/2 "Open Sans", sans-serif; } }

@media screen and (max-width: 800px) {
  .features {
    text-align: left;
    margin: 0; }
  .features-block {
    display: block;
    width: auto;
    border-bottom: solid 1px #cdcdcd;
    padding: 20px 5%;
    overflow: hidden; }
  .features-block + .features-block {
    margin-left: 0; }
  .features-block__image {
    float: left;
    margin-right: 5%; }
  .features-block__text {
    overflow: hidden;
    margin-top: 2%; }
  .features-block__link {
    font: 29px "Open Sans", sans-serif; }
  .features-paragraph {
    font: 16px "Open Sans", sans-serif; } }

@media screen and (max-width: 670px) {
  .page-header__menu {
    margin-right: 0; } }

@media screen and (max-width: 640px) {
  .page-header__logo--link {
    padding-left: 64px; }
  .page-header__logo--icon {
    width: 52px;
    height: 52px;
    -webkit-border-radius: 26px;
    border-radius: 26px;
    background: #5094f2; }
  .page-header__logo--icon:before {
    content: "";
    position: absolute;
    width: 24px;
    height: 21px;
    background: url("../img/sprite-mobile.png") 0 0 no-repeat;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto; }
  .page-header__menu {
    position: absolute;
    width: 65%;
    top: 0;
    bottom: 0;
    left: 100%;
    margin: 0;
    display: none;
    background: #222222; }
  .page-header__menu--link {
    display: block;
    margin: 0;
    padding: 0;
    text-align: center;
    font: 26px/2 "Open Sans", sans-serif; }
  .page-header__menu--link:before {
    display: none; }
  .page-header__menu--link:active,
  .page-header__menu--link {
    background: #383838;
    color: #989898; }
  .page-header__button {
    display: inline-block;
    line-height: normal;
    vertical-align: middle;
    width: 58px;
    height: 44px;
    margin-right: 5%;
    position: relative;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    background: #5094f2; }
  .page-header__button:before {
    content: "";
    position: absolute;
    width: 39px;
    height: 27px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background: url("../img/sprite-mobile.png") -24px 0 no-repeat; }
  .switcher:checked + .page .page-header__button {
    background: #3868a9; }
  .product-image {
    width: 215px;
    height: 162px;
    background: url("../img/sprite-mobile.png") -312px 0 no-repeat; } }

@media screen and (max-width: 520px) {
  .main-slider__slide:before {
    display: none; }
  .slide-block {
    text-align: center;
    margin-left: 0; }
  .slider-button {
    margin-left: 0; } }

@media screen and (max-width: 460px) {
  .features-block__link {
    font: 24px "Open Sans", sans-serif; }
  .product-header {
    font: 34px "Open Sans", sans-serif; }
  .product-image {
    width: 215px;
    height: 162px;
    background: url("../img/sprite-mobile.png") -312px 0 no-repeat; }
  .product-description__paragraph {
    font: 17px/1.5 "Open Sans", sans-serif; } }

@media screen and (max-width: 380px) {
  .features-block {
    text-align: center;
    overflow: auto; }
  .features-block__image {
    float: none;
    display: inline-block;
    margin: 0; } }

@media screen and (max-width: 340px) {
  .product-header {
    font: 28px "Open Sans", sans-serif; }
  .product-description__header {
    font: 22px "Open Sans", sans-serif; }
  .product-description__paragraph {
    font: 15px/1.5 "Open Sans", sans-serif; } }

@media screen and (max-width: 320px) {
  .page-header__logo--link {
    text-decoration: none;
    font: 34px/89px "Open Sans", sans-serif;
    padding-left: 48px; }
  .page-header__logo--icon {
    width: 44px;
    height: 44px;
    border-radius: 22px; } }
