footer {
    padding-top: 20px;
    background: #131217;
    text-align: center;
    color: #fff;
}

footer .social-list a,
footer .social-list a:hover {
    color: #fff;
}

footer .social-list {
    list-style: none;
    margin: 0 0 10px 0;
    padding: 0;
}

footer .social-list li {
    display: inline-block;
}

.social-list li a {
    width: 32px;
    height: 32px;
    text-align: center;
    line-height: 32px;
    display: inline-block;
    transition: background 0.5s;
    -webkit-transition: background 0.5s;
}
