doctype html
html(lang='en')
  include ../partials/head
  body
    include ../partials/header
    include ../partials/about
    include ../partials/service
    include ../partials/management
    include ../partials/tax
    include ../partials/resource
    include ../partials/register
    include ../partials/contact
    include ../partials/question
    include ../partials/regulatory
    include ../partials/currency
    include ../partials/footer
  include ../partials/foot