@font-face {
  font-family: 'Helvetica';
  src: url('../fonts/HelveticaBold.woff2') format('woff2'),
       url('../fonts/HelveticaBold.woff') format('woff'); 
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica';
  src: url('../fonts/HelveticaLight.woff2') format('woff2'),
       url('../fonts/HelveticaLight.woff') format('woff'); 
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica';
  src: url('../fonts/HelveticaRegular.woff2') format('woff2'),
       url('../fonts/HelveticaRegular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica';
  src: url('../fonts/HelveticaThin.woff2') format('woff2'),
       url('../fonts/HelveticaThin.woff') format('woff'); 
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/RobotoBold.woff2') format('woff2'),
       url('../fonts/RobotoBold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/RobotoRegular.woff2') format('woff2'),
       url('../fonts/RobotoRegular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

