/*-------------------------------General-------------------------------------*/
body{
	font-family:'Cuprum';
}
.layout_center{
	width: 960px;
	margin: 0 auto;
	padding: 0 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
h2{
	font-size:30px;
	text-transform: uppercase;
	color: #32425c;
}
h3{
	font-size: 24px;
	text-transform: uppercase;
	color: #000;
}
	
.clearfix:after{																								
	display: table;
	content: '';
	clear: both;
}
.btn{
	background: #ee3643;
	color: #fff;
	border-radius: 3px;
	text-transform: uppercase;
	padding: 12px 0;
	font-size: 14px;
	border:none;
	text-align: center;
}
.btn:hover{														/*------------------------------кнопки темнеют при наведении*/	
	background: #cc3643;
}
.btn:focus{
	outline:None;
}

/*-------------------------------HEADER-------------------------------------*/
header .user_menu{										/*------------------------------бэкграунд для пользовательского меню*/
	background: #293449;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
header{
	min-width:960px;														/*------------------------------общий бэкграунд для хэдера*/
	background: #f2f6f8;
	padding: 0 0 60px 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

}

.user_menu form{													/*-------------------------------флоатим заголовок вправо*/
	float: right;
	width: 720px;
}
.user_menu .title{	
	float: left;											/*-------------------------------Красная надпись техномарт*/
	background: #ee3643;
	color: #fff;
	font-size: 24px;
	text-transform: uppercase;
	width: 220px;
	padding: 5px 0;
	text-align: center;
	border:none;
	box-shadow: 0 4px 0 0 #b52933;
	transition-duration:0.2s;
}
.user_menu .title:hover{									/*------------------------------увеличивается надпись пр инаведениит*/
	transform:scale(1.05);
}
.action_point{
	float: left;
	width: 160px;
	padding: 10px 0 10px 50px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.action_point:first-child{
	width: 240px;
}
.action_point:last-child{
	float: right;
	padding: 0;
}
.user_menu label{													/*-------------------------------Надписи "Поиск", "Закладки" делаем белыми*/
	color: #fff;
	position: relative;
}
.user_menu label:before{												/*-------------------------------картинки перед лейблами*/
	display: block;
	content: '';
	position: absolute;
	width: 16px;
	height: 16px;
	left:-32px;
	top: 2px;
	background: url('../img/sprites.png') no-repeat -148px -6px;
}
.user_menu .bookmarks:before{											/*-------------------------------картинка закладки*/
	background-position: -90px -4px;
}
.user_menu .trolley:before{												/*-------------------------------картинка корзина*/
	background-position:-119px -7px;
}
.user_menu label input{												/*-------------------------------Оформляем поиск, закладки и корзину*/
	background: #293449;
	width: 20px;
	border:none;
	color: #fff;
	display: inline-block;
	padding-left: 5px;
	padding-right: 5px;
}
.user_menu label input:focus{									/*-------------------------------пунктирная линия для активного состояния инпутов*/
	outline:1px dotted #ccc;
}
.user_menu label:nth-child(3) input{							/*-------------------------------оступ от корзины до "Оформить заказ" меньше чем остальные*/
}
.user_menu .action_point:first-child input{								/*-------------------------------Оформляем инпут поиска*/
	width: 90px;
	color: #4b5566;
	border-left: 2px solid #4b5566;
		margin-left: 5px;
}

.user_menu input[type="submit"]{								/*-------------------------------Оформляем кнопку "оформить заказ"*/
	background: #63a63e;
	color: #fff;
	width: 150px;
	text-align: center;
	padding: 11px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border:none;
}
.user_menu input[type="submit"]:hover{								
background: #22a622;
}
						/*-------------------------------Header description-------------------------------------*/

.header_description>div{										/*-------------------------------Оформляем элементов описания*/
	float: left;
	width: 220px;
	margin-right: 20px;
	text-align: center;
	margin-top: 40px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}	
.header_description>.user{										/*-------------------------------Оформление Равшан Джамшутович*/					
	margin-right: 0;
	width: 300px;
	float: right;
}
.header_description>.description{								/*-------------------------------Оформление описания*/	
	margin-left: 60px;
	font-size: 16px;
	margin-right: 35px;
	width: 220px;
	color: #ef505b;
	text-align: left;
	font-style: italic;
	line-height: 23px;
		font-family:'Cuprum';
}	
.phone{	
	font-family:'Cuprum';														/*-------------------------------Оформление телефона*/	
	font-size: 18px;
	-webkit-text-size-adjust: 50%;
	border: 3px solid #fff;
	color: #ef505b;
	padding: 10px 10px 10px 40px;

	position: relative;
	font-weight: bold;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.phone:before{
												/*-------------------------------картинка телефона*/
	display: block;
	content: '';
	position: absolute;
	width: 16px;
	height: 16px;
	left:15px;
	top: 13px;
	background: url('../img/icon_phone.png') no-repeat;	
}

															/*-------------------------------Оформление адреса*/		
.header_description .address{
	margin-top: 5px;
	text-align: center;
	color: #32425c;
}
.user_name{														/*-------------------------------Оформление имени*/		
	background: #fff;
	padding: 10px 20px 10px 5px;
	position: relative;
	color: #000;
	font-size: 21px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.user_name:before, .user_name:after{							/*-------------------------------Оформление bиконок лица и входа*/	
	display: block;
	content: '';
	position: absolute;
	width: 16px;
	height: 16px;
	top: 13px;
	background: url('../img/sprites.png') no-repeat -249px 0;	
}
.user_orders a, .user_cabinet a{													/*-------------------------------Цвет гиперссылок*/	
	color: #32425c;
	position: relative;
}
.user_cabinet a:before{																/*------------------------------синяя точка рядом с сылкой*/
display: block;
content: '';
position: absolute;
width: 4px;
height: 4px;
border-radius: 50%;
background: #32425c;
left: -17px;
top: 8px;
}
.user_name:before{																	/*-------------------------------положение иноки юзера*/
	left: 15px;
}
.user_name:after{																	/*-------------------------------положение иноки входа*/
	right:15px;
	background-position: -65px -3px;	
}
.user_orders, .user_cabinet{									/*-------------------------------Оформление моих заказов  и личного кабинета*/	
	float: left;
	padding: 8px 14px 8px 17px;
}


						/*-------------------------------Навигационное меню-------------------------------------*/
nav{																	
	padding: 20px 0px 20px 50px;
	border-bottom: 5px solid #293449;
	margin-top: 40px;
	background: #32425c;
}
nav ul{																	
	margin: 0;
	padding: 0;
}
nav li{
	list-style: none;
	display: inline-block;
	font-size: 17px;
	margin-right: 55px;
}
nav li:last-child{
	margin-right: 5px;
}
nav li a{
	text-decoration: none;
	color: #fff;
}

nav li a:hover{
	border-bottom: 1px solid #fff;
}
/*-------------------------------MAIN-------------------------------------*/

main .layout_center{
	padding: 60px 10px 80px 10px;
}
						/*-------------------------------categories of goods-------------------------------------*/
.category{																	/*------------------------общие характеристики товаров---------------*/
	float: left;	
	width: 300px;
	background: url('../img/materials_background.png');
	padding: 20px;
	margin-bottom: 20px;
	position: relative;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.category:not(:first-child){
	margin-left: 20px;
}
.category_name{																/*------------------------общие характеристики названия---------------*/
	font-size: 24px;
	color: #fff;
}
.category_description{														/*------------------------общие характеристики описания---------------*/
	display: inline-block;
	padding: 10px 0;
	width: 135px;
	text-align: center;
	color: #fff;
	background: #dda028;
	border-radius: 3px;
	margin-top: 15px;
	text-transform: uppercase;
	font-size: 14px;
	transition-duration:0.1s;
}
.category:not(.slider) .category_description:hover{
	cursor: pointer;
	transform:scale(1.05);
}
.materials:after{															/*------------------------лейбл Нью для материалов---------------*/
	display: block;
	content: '';
	width: 60px;
	height: 60px;
	position: absolute;
	top: 0;
	right: 0;
	background: url('../img/label_new.png') no-repeat;
}
.category:not(:first-child)){												/*------------------------убираем ненужный маргин---------------*/
	margin-left: 20px;
}
.instrument{																/*------------------------картинки и фон описания---------------*/
		background: url('../img/instrument_background.png');
}
.instrument .category_description{
	background: #429dc7;
}
.technics{
		background: url('../img/technics_background.png');
}
.technics .category_description{
	background: #b76dbc;
}
.discount{
	background: url('../img/discount_background.png');
}
.discount .category_description{
	background: #77bc6d;
}
.delivery{
background: url('../img/delivery_background.png');
}
.delivery .category_description{
	background: #dda028;
}

.slider .category_description{								/*------------------------оформление описания внутри слайдера--------------*/
	background: transparent;
	text-align: left;
	padding: 0;
	margin: 5px 0;
}
.slider .btn{												/*------------------------оформление кнопки слайдера--------------*/
	margin-top: 130px;
	width: 190px;
}

.category.slider{											/*------------------------оформление слайдера--------------*/	
	width: 620px;
	height: 260px;
	background:url('../pict/slider_top_picture.png');
	margin-left: 0;
	-webkit-transition-duration: 0.5s;
	-o-transition-duration: 0.5s;
	transition-duration: 0.5s;
}
.slider .category_name{										/*------------------------оформление имени внутри слайдера--------------*/
	font-style: 36px;
	text-transform: uppercase;
}
.category.slider:hover{										/*------------------------оформление бэкграунда при наведении--------------*/
	background: url('../pict/slider_bottom_picture.png');
}
						/*-------------------------------popular goods-------------------------------------*/

.popular .title{
	background: #f7f3ec;
	padding: 20px;
}
.popular .title h2{											/*------------------------стилизация заголовка--------------*/
	float: left;
	padding-top: 5px;
	margin: 0;
	font-weight: normal;
}
.popular .title .btn{										/*------------------------стилизация кнопки--------------*/
	float: right;
	width: 250px;
}

.popular_good{												/*------------------------общая стилизация инструмента--------------*/												
	float: left;
	margin: 20px 20px 20px 0;
	width: 220px;
	text-align: center;
	font-family: 'OpenSans Semibold', sans-serif;
	font-size: 16px;
	font-weight: bold;
	border-bottom: 1px solid #e5e5e5;
}
.popular_good:last-child{
	margin-right: 0;
}
.popular_good.instrument_1{									/*------------------------картинки для инструментов--------------*/		
	background: url('../pict/instrument_1.png');
}
.popular_good.instrument_2{
	background: url('../pict/instrument_2.png');
}
.popular_good.instrument_3{
	background: url('../pict/instrument_3.png');
}
.popular_good.instrument_4{
	background: url('../pict/instrument_4.png');
	position: relative;
}
.popular_good.instrument_4:after{										/*------------------------лейбл Нью для последнего инструмента---------------*/
		display: block;
	content: '';
	width: 60px;
	height: 60px;
	position: absolute;
	top: 0;
	right: 0;
	background: url('../img/label_new.png') no-repeat;
}

.popular_good_title{													/*------------------------стилизация названия--------------*/
	margin-top: 180px;
	text-align: center;
	padding: 0 17px;
	margin-bottom: 15px;
}

.popular_good_prev_price{												/*------------------------стилизация предыдущей цены--------------*/
	text-decoration: line-through;
	color: #999999;
	margin-bottom: 10px;
}
.popular_good:last-child .popular_good_prev_price{						/*------------------------делаем невидимой отсутствующую предыдущую цену--------------*/
	color: transparent;
}
.popular_good_price{													/*------------------------стилизация текущей цены--------------*/
	color: #fff;
	background: #ee3643;
	width: 120px;
	display: inline-block;
	padding: 10px 0;
	position: relative;
	margin-bottom: 20px;
	transition-duration:0.1s;
}
.popular_good_price:hover{
	cursor: pointer;
	transform:scale(1.05);
}
.popular_good_price:after{												/*------------------------красный треугольник--------------*/
	display: block;
	content: '';
	height: 0;
	width: 0;
	border: 19px solid #ee3643;
	border-right: 0;
	border-bottom-color: transparent;
	border-top-color: transparent;
	position: absolute;
	top: 0;
	right: -19px;
}
.popular_manufacturers img{												/*------------------------оступы для производителей--------------*/
	margin: 20px 16px 0 0;
	transition-duration:0.1s;
}
.popular_manufacturers img:nth-child(4n){
	margin-right: 0;
}
.popular_manufacturers img:hover{
	transform:scale(1.1);
	outline: 2px solid #000;
}

						/*-------------------------------Services-------------------------------------*/
.services{																					/*Фон для услуг*/
	background: #f2f6f8;
	min-width: 960px;
}
.service{																					/*Блок услуг*/
	float: left;
	width: 300px;
}
.service_block{
	margin-top: 50px;
}
.services .layout_center{													/*для layout_center делаотстп снизу нулевой, чтобы грузовик прилипал*/
	padding-bottom: 0;
}
.service_layout{																			/*Грузовик*/
	background: url('../img/truck.png') no-repeat 160px 40px;
	width: 620px;
	padding-bottom: 100px;

}
.services h2{																
	font-weight: normal;
}
.services p{
	font-size: 13px;
	line-height: 24px;
	font-family: 'OpenSans Light' sans-serif;
	color: #405069;
}
.service_list ul{
	list-style: none;
	padding: 0;
	margin: 0;
	position: relative;
}
.service_list ul:after{																	/*Черная тень рядом со списком*/
	display: block;
	content: '';
	position: absolute;
	height: 272px;
	width: 10px;
	background: url('../img/sprites.png') no-repeat -302px 0;
	left: 230px;
	top: -40px;
}
.service_list li{
	padding: 20px;
	background: #32425c;
	color: #fff;
	width: 240px;
	font-size: 21px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border-bottom: 1px solid #293449;
	border-top: 1px solid #405069;
}
.service_list li.active{																/*активное состояние элемента списка*/
	background: #fff;
	color: #32425c;
	border: none;
}
.service_list li:hover{																	/*элемент списка услуг при наведении*/
	cursor: pointer;
	background: #eee;
	color: #000;
}

						/*-------------------------------Еще раз поисание компании-------------------------------------*/
.company .description{
	float: left;
	width: 540px;
}
.company p{
	font-size: 13px;
	line-height: 24px;
	font-family: 'OpenSans Light' sans-serif;
	color: #405069;
}
.company .contacts{
	float: right;
	width: 300px;
}
.company li{
	list-style: none;
	color: #000;
	font-weight: bold;
	margin-bottom: 20px;
	position: relative;
}	
.company li:before{														/*--------------Красные полоски-------*/													
	display: block;
	content: '';
	width: 25px;
	height: 2px;
	background: #fb565a;
	position: absolute;
	left: -35px;
	top: 7px;
}
.company .btn{
	width: 220px;
	margin-top: 25px;
}
.company .btn.lost{
	margin-top: 40px;
}
/*-------------------------------FOOTER-------------------------------------*/
						/*-------------------------------Techomart-------------------------------------*/
.technomart{
	background: #32425c;
	min-width: 960px;
	padding-left: 10px;
	padding-right: 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

}
.technomart .layout_center{
	padding-top: 0;
}
.technomart .logo:hover{
		transform:scale(1.05);
}
.technomart .logo{													/*-------------------------------Красная надпись техномарт*/
	background: #ee3643;
	color: #fff;
	text-transform: uppercase;
	font-size: 24px;
	width: 220px;
	padding: 10px 0;
	text-align: center;
	border:none;
	box-shadow: 0 4px 0 0 #b52933;
	margin-bottom: 30px;
		transition-duration:0.1s;
}
.technomart .address{
	color: #fff;
	margin-bottom: 50px;
}

footer .company, footer .lower_nav{
	float: left;
	width: 320px;
	margin-right: 60px;

}
footer .lower_nav{
	float: right;
	width: 540px;
	margin-right: 0;
}

.lower_nav td{
	padding: 30px 40px 0 0;
}
.lower_nav td a{										/*--------убираем стилизацию для ссылок-------*/
	text-decoration: none;
	color: #fff;
}
.lower_nav td a:hover{
	border-bottom: 1px solid #fff;
}
.lower_nav td:last-child{								/*-------------------------------Выравниваем последнюю ячейку по краю----------------*/
	padding-right:0;
	text-align: right;
}
.lower_nav_2 td:nth-child(4){							/*-------------------------------Выравниваем спецпредложения по правому краю-----------------*/
text-align: right;
position: relative;
padding-right:0;
}
.lower_nav_2 td:nth-child(4):before{					/*-------------------------------белая точка в таблице----------------*/
	display: block;
	content: '';
	width: 4px;
	height: 4px;
	background: #fff;
	position: absolute;
	border-radius: 50%;
	top: 37px;
	left: 10px;
}
.lower_nav_2 td a{										/*-------------------------------цвет для нижних иконок социальных сетей----------------*/	
 color: #ffd180;
}
						/*-------------------------------Techomart-------------------------------------*/
.footer>div{											/*-------------------------------зафлоачиваем элементы внутри футера----------------*/
	float: left;
	width: 140px;
}
.footer .feedback, .footer .design{
	float: right;
	margin-left: 60px;
	color: #fff;
}
.footer a{
	color: #ffd180;
}
.footer .copyright{
	width: 260px;
	margin-right: 120px;
}
footer{
	background: #293449;
	min-width: 960px;

}
footer .layout_center{
	width: 950px;
	padding: 35px 10px 30px 10px;	
}
.social_icon{
	width: 40px;
	display: inline-block;
	height: 40px;
	border-radius: 50%;
	background: #212a3a url('../img/sprites_sn.png') no-repeat -20px 10px;
}
.social_icon:hover{
	cursor: pointer;
	background-color:green;
}
.fb{
	background-position: -68px 7px;
}
.inst{
	background-position: -119px 9px;
}