head
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  title DSGN
  link(media='all', rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700,700%7cRoboto:300,400,500")
  link(media='all', rel='stylesheet', href='assets/css/vendor.min.css')
  link(media='all', rel='stylesheet', href='assets/css/style.min.css')
  style(type="text/css").
    .home-logo__block {
      background-image: url(assets/images/header-bg.png);
    }
    @media (-webkit-min-device-pixel-ratio: 1.5) {
      .home-logo__block {
          background-image: url(assets/images/header-bg@2x.png);
      }
    }

    .project__item-2 {
      background-image: url(assets/images/fondue.jpg);
    }
    @media (-webkit-min-device-pixel-ratio: 1.5)  {
      .project__item-2 {
        background-image: url(assets/images/fondue@2x.jpg);
      } 
    }

    .project__item-3 {
      background-image: url(assets/images/potter.jpg);
    }
    @media (-webkit-min-device-pixel-ratio: 1.5)  {
      .project__item-3 {
        background-image: url(assets/images/potter@2x.jpg);
      } 
    }

    .project__item-4 {
      background-image: url(assets/images/louis.jpg);
    }
    @media (-webkit-min-device-pixel-ratio: 1.5)  {
      .project__item-4 {
        background-image: url(assets/images/louis@2x.jpg);
      } 
    }
    @media (max-width: 1023px) {
      .project__item-4 {
        background-image: url(assets/images/louis.png);
      } 
    }
    @media (max-width: 1023px) and (-webkit-min-device-pixel-ratio: 1.5) {
      .project__item-4 {
        background-image: url(assets/images/louis@2x.png);
      } 
    }

    .project__item-5 {
      background-image: url(assets/images/p22.jpg);
    }
    @media (-webkit-min-device-pixel-ratio: 1.5)  {
      .project__item-5 {
        background-image: url(assets/images/p22@2x.jpg);
      } 
    }

    .project__item-6 {
      background-image: url(assets/images/tabano.jpg);
    }
    @media (-webkit-min-device-pixel-ratio: 1.5)  {
      .project__item-6 {
        background-image: url(assets/images/tabano@2x.jpg);
      } 
    }

    .project__item-7 {
      background-image: url(assets/images/sesann.jpg);
    }
    @media (-webkit-min-device-pixel-ratio: 1.5)  {
      .project__item-7 {
        background-image: url(assets/images/sesann@2x.jpg);
      } 
    }

    .project__item-8 {
      background-image: url(assets/images/alessi.jpg);
    }
    @media (-webkit-min-device-pixel-ratio: 1.5)  {
      .project__item-8 {
        background-image: url(assets/images/alessi@2x.jpg);
      } 
    }

    .project__item-9 {
      background-image: url(assets/images/fiji.jpg);
    }
    @media (-webkit-min-device-pixel-ratio: 1.5)  {
      .project__item-9 {
        background-image: url(assets/images/fiji@2x.jpg);
      } 
    }