#popup.popup.mfp-hide
  .product-info
    .product-info__title
      a(href="#" class="product-info__link")
        h3.product-info__heading fondue
      ul.product-info__list
        li.product-info__text
          span.product-info__text--bold Project Assistant: 
          |Francesco Dompieri
        li.product-info__text
          span.product-info__text--bold Material:  
          |Glass and Metal
        li.product-info__text
          span.product-info__text--bold Typology:  
          |Suspension lamp
        li.product-info__text
          span.product-info__text--bold Client: 
          |David Design 
        li.product-info__text
          span.product-info__text--bold Year: 
          |2014
    p.product-info__descr
      |Merging different traditions – the South European and the 
      |North European – in the field of household suspended lights 
      |is the starting point of Fondue, a lamp designed by Luca Nichetto
      |for the Swedish David Design. The inspiration comes from the 
      |observation of pot bellied traditional fondue cauldrons, which were
      |kept suspended above a heat source for the cheese to slowly melt. 
      |Similarly, the pot bellied glass diffuser is suspended, supported by
      |a slender metal frame enclosing the light source.
    p.product-info__descr
      |One of Fondue’s peculiarities is the solution designed for the output 
      |of the power cable, which is generally concealed or made less evident. 
      |Instead, here it becomes a feature of the lamp, located in its lower part,
      |which allows the power source to be released from the fixing point in the ceiling.
      |This makes Fondue easily adaptable to various architectural situations.
    .popup__slider-nav
      .slider-nav__slide
        img(src="assets/images/fondue-slide1@2x.jpg", alt="image description")
      .slider-nav__slide
        img(src="assets/images/fondue-slide2@2x.jpg", alt="image description")
      .slider-nav__slide
        img(src="assets/images/fondue-slide1@2x.jpg", alt="image description")
      .slider-nav__slide
        img(src="assets/images/fondue-slide2@2x.jpg", alt="image description")
    .popup__social
      a(href="#", class="popup__social-icon icon-facebook")
        span.sr-only facebook 
      a(href="#", class="popup__social-icon icon-twitter")
        span.sr-only twitter 
      a(href="#", class="popup__social-icon icon-gplus")
        span.sr-only google plus 
      a(href="#", class="popup__social-icon icon-mail-alt")
        span.sr-only email 
  .popup__slider-block
    .popup__slider
      .popup__slider-item
        img(srcset="assets/images/fondue-open.jpg 1x, assets/images/fondue-open@2x.jpg 2x", src="assets/images/fondue-open.jpg", alt="image description")
      .popup__slider-item
        img(srcset="assets/images/fondue-open.jpg 1x, assets/images/fondue-open@2x.jpg 2x", src="assets/images/fondue-open.jpg", alt="image description")
      .popup__slider-item
        img(srcset="assets/images/fondue-open.jpg 1x, assets/images/fondue-open@2x.jpg 2x", src="assets/images/fondue-open.jpg", alt="image description")
      .popup__slider-item
        img(srcset="assets/images/fondue-open.jpg 1x, assets/images/fondue-open@2x.jpg 2x", src="assets/images/fondue-open.jpg", alt="image description")




        

    


