section.project
	.grid.project__grid

		.grid-item.project__item-1 
			svg
				line(x1="100%" y1="0%" x2="0%" y2="100%")
			h2.project__title projects
			ul.project__list
				li.project__list-item
					a(href="#", class="project__list-link") all
				li.project__list-item
					a(href="#", class="project__list-link") house
				li.project__list-item
					a(href="#", class="project__list-link") commercial
				li.project__list-item
					a(href="#", class="project__list-link") personal
				li.project__list-item
					a(href="#", class="project__list-link") studio lab

		.grid-item.project__item-2 
			.project__item-info
				h3.project__item-title fondue
				ul.project__item-descr
					li.project__item-text
						span.project__item-text--bold Project Assistant: 
						|Francesco Dompieri
					li.project__item-text
						span.project__item-text--bold Material:  
						|Glass and Metal
					li.project__item-text
						span.project__item-text--bold Typology:  
						|Suspension lamp
					li.project__item-text
						span.project__item-text--bold Client: 
						|David Design 
					li.project__item-text
						span.project__item-text--bold Year: 
						|2014
			a(href="#popup", class="project__item-view open-popup") view project
			.project__item-like
				a(href="#", class="item-like__icon")
				span.item-like__counter +200

		
		.grid-item.project__item-3 
			.project__item-info
				h3.project__item-title potter
				div.project__item-descr
					.item-descr__subtitle.project__item-text
						span.project__item-text--bold for 
						| stelton 
					.project__item-text.item-descr__info
						|Potter focuses on the functionality and process
						| of preparing tea. a big sieve allows the flavor 
						|of to evenly brewed.
			a(href="#", class="project__item-view") view project
			.project__item-like
				a(href="#", class="item-like__icon")
				span.item-like__counter +200

		.grid-item.project__item-6 
			.project__item-info
				h3.project__item-title tabano
				ul.project__item-descr
					li.project__item-text
						span.project__item-text--bold designer: 
						|PATRICIA URQUIOLA
					li.project__item-text
						span.project__item-text--bold Typology:  
						|ARMchairs
					li.project__item-text
						span.project__item-text--bold Client: 
						|B&B ITALIA
					li.project__item-text
						span.project__item-text--bold Year: 
						|2014
			a(href="#", class="project__item-view") view project
			.project__item-like
				a(href="#", class="item-like__icon")
				span.item-like__counter +200

		.grid-item.project__item-4 
			.project__item-info
				h3.project__item-title louis xx
				ul.project__item-descr
					li.project__item-text
						span.project__item-text--bold designer: 
						|philippe starck 
					li.project__item-text
						span.project__item-text--bold Typology:  
						|chairs
					li.project__item-text
						span.project__item-text--bold Client: 
						|Vitra
					li.project__item-text
						span.project__item-text--bold Year: 
						|2012
			a(href="#", class="project__item-view") view project
			.project__item-like
				a(href="#", class="item-like__icon")
				span.item-like__counter +200

		.grid-item.project__item-5 
			.project__item-info
				h3.project__item-title 395-396 P22
				ul.project__item-descr
					li.project__item-text
						span.project__item-text--bold designer: 
						|Patrick Norguet
					li.project__item-text
						span.project__item-text--bold Typology:  
						|ARMchairs
					li.project__item-text
						span.project__item-text--bold Client: 
						|Cassina
					li.project__item-text
						span.project__item-text--bold Year: 
						|2013
			a(href="#", class="project__item-view") view project
			.project__item-like
				a(href="#", class="item-like__icon")
				span.item-like__counter +200

		.grid-item.project__item-7 
			.project__item-info
				h3.project__item-title Sesann
				ul.project__item-descr
					li.project__item-text
						span.project__item-text--bold designer: 
						|Gianfranco Frattini
					li.project__item-text
						span.project__item-text--bold Typology:  
						|ARMchairs
					li.project__item-text
						span.project__item-text--bold Client: 
						|Cassina
					li.project__item-text
						span.project__item-text--bold Year: 
						|1970
			a(href="#", class="project__item-view") view project
			.project__item-like
				a(href="#", class="item-like__icon")
				span.item-like__counter +200
		
		.grid-item.project__item-9 
			.project__item-info
				h3.project__item-title FIJI
				ul.project__item-descr
					li.project__item-text
						span.project__item-text--bold designer: 
						|Cuno Frommherz
					li.project__item-text
						span.project__item-text--bold Typology:  
						|ARMchairs
					li.project__item-text
						span.project__item-text--bold Year: 
						|2012
			a(href="#", class="project__item-view") view project
			.project__item-like
				a(href="#", class="item-like__icon")
				span.item-like__counter +200
		
		.grid-item.project__item-8 
			.project__item-info
				h3.project__item-title Alessi
				ul.project__item-descr
					li.project__item-text
						span.project__item-text--bold designer: 
						|Piero Lissoni
					li.project__item-text
						span.project__item-text--bold Client: 
						|Alessi
					li.project__item-text
						span.project__item-text--bold Year: 
						|2013
			a(href="#", class="project__item-view") view project
			.project__item-like
				a(href="#", class="item-like__icon")
				span.item-like__counter +200
		
		.grid-item.project__item-10 
			svg
				line(x1="60%" y1="0%" x2="0%" y2="100%")
			h3.project__title timeline
			ul.project__list
				li.project__list-item
					a(href="#", class="project__list-link") 2014
				li.project__list-item
					a(href="#", class="project__list-link") 2013
				li.project__list-item
					a(href="#", class="project__list-link") 2012
				li.project__list-item
					a(href="#", class="project__list-link") 2011
				li.project__list-item
					a(href="#", class="project__list-link") 2010