section.studio
  .studio__wrapper

    .studio__item.item-header
      .studio__title-block
        svg
          line(x1="100%" y1="0%" x2="0%" y2="100%")
        h2.studio__title studio
    
    .studio__item.item-text
      .item-text__wrapper
        p.studio__item-text.studio__item-text--italic
          |Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
          |Phasellus sollicitudin eros sit amet nulla rhoncus dictum. 
        p.studio__item-text.studio__item-text--italic
          |Nam rhoncus fringilla dolor vitae vulputate. Nullam quis eros 
          |lorem. Integer cursus erat a orci congue feugiat. Cras rhoncus 
          |mollis libero, id aliquet purus varius sed.
        p.studio__item-text
          |Aenean ullamcorper porta nisl, ac lobortis elit commodo placerat. 
        p.studio__item-text
          |Vivamus eget laoreet enim. Sed nunc dui, egestas vel diam convallis,
          |faucibus iaculis sapien. Sed ut vulputate nisi. 
        p.studio__item-text
          |Proin tempor risus tellus. Maecenas sit amet fringilla urna, vel iaculis
          |velit. Sed ac felis et sem mollis dictum sed id orci.
    
    .studio__item.item-awards
      .item-awards__wrapper
        img(srcset="assets/images/studio.jpg 1x, assets/images/studio@2x.jpg 2x", src="assets/images/studio.jpg", class="item-awards__image", alt="image description")
        h3.item-awards__title awards
        .item-awards__list
          ul
            li Aenean ullamcorper porta
            li nisl
            li ac lobortis elit 
            li commodo placerat 
            li Vivamus
          ul
            li Aenean ullamcorper porta
            li nisl
            li ac lobortis elit 
            li commodo placerat 
            li Vivamus  
  .staff
    .staff__row
  
      .staff__item.staff-descr
        h4.staff-descr__title staff.
        p.staff-descr__text
          |Sit amet laoreet sapien dictum. Sed eget eros augue. 
          |Pellentesque tempor mi sit amet nisi tincidunt tincidunt. 
          |Fusce malesuada lectus sed mauris pharetra faucibus. 
        p.staff-descr__text
          |Aenean diam tortor, hendrerit ac pulvinar vel, condimentum ac velit. 
          |Phasellus eu odio elit.Aenean volutpat mi quam, ut ornare augue tempus ut. 
        p.staff-descr__text
          |Morbi sagittis diam mauris, in adipiscing nulla convallis ut.

      .staff__item
        .staff__image
          img(src="assets/images/stark.jpg", alt="image description")
        h5.staff__name philippe starck
        p.staff__position designer
        .staff__contacts
          a(href="#", class="staff__contacts-cv icon-arrow-left") CV
          .staff__contacts-social
            a(href="#", class="staff__contacts-link icon-facebook")
              span.sr-only facebook 
            a(href="#", class="staff__contacts-link icon-twitter")
              span.sr-only twitter 
            a(href="#", class="staff__contacts-link icon-linkedin")
              span.sr-only linkedin 
            a(href="#", class="staff__contacts-link icon-gplus")
              span.sr-only google plus 

      .staff__item
        .staff__image
          img(srcset="assets/images/bellini.jpg 1x, assets/images/bellini@2x.jpg 2x", src="assets/images/bellini.jpg", alt="image description")
        h5.staff__name mario bellini
        p.staff__position designer
        .staff__contacts
          a(href="#", class="staff__contacts-cv icon-arrow-left") CV
          .staff__contacts-social
            a(href="#", class="staff__contacts-link icon-facebook")
              span.sr-only facebook 
            a(href="#", class="staff__contacts-link icon-twitter")
              span.sr-only twitter 
            a(href="#", class="staff__contacts-link icon-linkedin")
              span.sr-only linkedin 
            a(href="#", class="staff__contacts-link icon-gplus")
              span.sr-only google plus 

      .staff__item
        .staff__image
          img(srcset="assets/images/urqunola.jpg 1x, assets/images/urqunola@2x.jpg 2x", src="assets/images/urqunola.jpg", alt="image description")
        h5.staff__name patricia urquiola
        p.staff__position designer
        .staff__contacts
          a(href="#", class="staff__contacts-cv icon-arrow-left") CV
          .staff__contacts-social
            a(href="#", class="staff__contacts-link icon-facebook")
               span.sr-only facebook 
            a(href="#", class="staff__contacts-link icon-twitter")
               span.sr-only twitter 
            a(href="#", class="staff__contacts-link icon-linkedin")
               span.sr-only linkedin 
            a(href="#", class="staff__contacts-link icon-gplus")
               span.sr-only google plus 

      

