.footer-wrapper {
    padding-top: 17px;
    padding-bottom: 10px;
    background: #f9f9f9;
    border-top: 1px solid #bebebd;
    box-shadow: 0 1px 2px rgba(255, 255, 255, .9), inset 0 3px 6px rgba(0, 0, 0, .1);
}

.text-logo_footer {
    color: #909090;
}

.footer-text {
    font-size: 13px;
    line-height: 21px;
    color: #adb4bc;
}

.company-adress {
    padding-top: 4px;
}
