.signup {
    background-color: #e6e6e6;
}

.panel-signup {
    background-color: #434b56;
}

.signup-text {
    color: #fff;
    font-weight: 400;
    font-size: 15px;
}
.signup-wrapper {
	padding-top: 38px;
	padding-bottom: 24px;
	background: url(../img/dotted.png)left top repeat-x;
    margin-left: 40px;
}

.panel-signup {
	padding-top: 10px;padding-bottom:10px;

}

.form-signup {
	color: #fff;
	background-color: #7a8087;
	border-color:  #434b56;

}

.form-signup::placeholder {
	color: #d4d9e4;
	font-size: 14px;
	font-weight: 400;
}

.btn-signup {
	background-color: #f08340;
	border-color: #ec702f;
	font-weight: 700;
	padding-left: 30px;
	padding-right: 30px;
	margin-left: 15px;
}
