tr td:nth-child(odd){
   background: #f2f2de;
}

tr td:first-child{
   background: #fff;
}
tr:nth-of-type(2) td:nth-child(even){
   background: #ddebf7;
} 
tr:nth-of-type(2) td:first-child{
   background: #ddebf7;
}    
tr:nth-of-type(4) td:nth-child(even){
   background: #ddebf7;
} 
tr:nth-of-type(4) td:first-child{
   background: #ddebf7;
}
tr:nth-of-type(6) td:nth-child(even){
   background: #ddebf7;
} 
tr:nth-of-type(6) td:first-child{
   background: #ddebf7;
}         