/*---RESET---*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    margin: 0;
    padding: 0
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block
}

body {
    line-height: 1
}

ol,
ul {
    list-style: none
}

blockquote,
q {
    quotes: none
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}


/*---FONTS---*/

/*@font-face {
    font-family: 'Segoe WP';
    src: url("segoewp-webfont.eot");
    /*IE9 Compat Modes*/
    src: url("segoewp-webfont.eot-#iefix"/*tpa=http://tellmeof.cc.ua/Prechu/segoewp-webfont.eot?#iefix*/
    ) format('embedded-opentype'), /*IE6-IE8*/
    url("segoewp-webfont.woff"/*tpa=http://tellmeof.cc.ua/Prechu/segoewp-webfont.woff*/
    ) format('woff'), /*Modern Browsers*/
    url("segoewp-webfont.ttf"/*tpa=http://tellmeof.cc.ua/Prechu/segoewp-webfont.ttf*/
    ) format('truetype'), /*Safari,Android,iOS*/
    url("segoewp-webfont.svg#svgFontName"/*tpa=http://tellmeof.cc.ua/Prechu/segoewp-webfont.svg#svgFontName*/
    ) format('svg');
    /*Legacy iOS*/
}

@font-face {
    font-family: 'Segoe WP Light';
    src: url("segoewp-light-webfont.eot"/*tpa=http://tellmeof.cc.ua/Prechu/segoewp-light-webfont.eot*/
    );
    /*IE9 Compat Modes*/
    src: url("segoewp-light-webfont.eot-#iefix"/*tpa=http://tellmeof.cc.ua/Prechu/segoewp-light-webfont.eot?#iefix*/
    ) format('embedded-opentype'), /*IE6-IE8*/
    url("segoewp-light-webfont.woff"/*tpa=http://tellmeof.cc.ua/Prechu/segoewp-light-webfont.woff*/
    ) format('woff'), /*Modern Browsers*/
    url("segoewp-light-webfont.ttf"/*tpa=http://tellmeof.cc.ua/Prechu/segoewp-light-webfont.ttf*/
    ) format('truetype'), /*Safari,Android,iOS*/
    url("segoewp-light-webfont.svg#svgFontName"/*tpa=http://tellmeof.cc.ua/Prechu/segoewp-light-webfont.svg#svgFontName*/
    ) format('svg');
    /*Legacy iOS*/
}
*/*/

/*---SWITCH---*/

body {
    overflow-x: hidden;
}

.switcher {
    display: none;
}

.switcher:checked+.page .ph-menu {
    display: block;
}

.switcher:checked+.page {
    margin-left: -65%;
}

.page {
    width: 100%;
    position: relative;
}


/*---HEADER---*/

.p-header {
    overflow: hidden;
    line-height: 89px;
    text-align: right;
}

.ph-logo {
    float: left;
    height: 89px;
    margin-left: 5%;
}

.phl-link {
    text-decoration: none;
    font: 42px/89px "Open Sans", sans-serif;
    color: rgb(0, 0, 0);
    position: relative;
    padding-left: 56px;
}

.phll-icon {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 44px;
    height: 44px;
    background: url("sprite-desktop.png") 0 0 no-repeat;
}

.ph-menu {
    display: inline-block;
    line-height: normal;
    vertical-align: bottom;
    margin-right: 5%;
}

.phm-link {
    display: inline-block;
    position: relative;
    margin: 0 10px;
    padding: 0 3px 18px;
    font: 20px "Open Sans", sans-serif;
    color: rgb(108, 108, 108);
    text-decoration: none;
}

.phm-link:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 3px;
}

.phm-link:hover {
    background: none;
}

.phm-link:hover:before,
.phm-link-active:before {
    background: rgb(80, 148, 242);
}

.ph-button {
    display: none;
}


/*---SLIDER---*/

.pm-slider {
    height: 489px;
    background: url("slider-bkg.jpg") center no-repeat;
    background-size: cover;
}

.pms-background {
    height: 100%;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAICAYAAADN5B7xAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAaElEQVQY043LoQ3CUBRA0QcJCYIEi8NikEhWwdZ3isq%2FBBOAxzAAljWqKtqcKkLafGiPvjciA0ccYg7s8MID66l4i7uv6l%2B8wdVQi0suXiLJq3EeDyU6v72x%2F8QFGtNuWC3wjIhTzJN6Bzu6dgDAzNIAAAAASUVORK5CYII%3D) 0 481px repeat-x;
    position: relative;
}

.pmsb-swipe {
    overflow: hidden;
    visibility: hidden;
    position: relative;
    height: 100%;
    margin: 0 7%;
}

.pmsbs-wrap {
    overflow: hidden;
    position: relative;
    height: 100%;
}

.pmsbsw-slide {
    float: left;
    width: 100%;
    height: 100%;
    line-height: 489px;
    position: relative;
    text-align: center;
}

.pmsbsw-slide-one:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 345px;
    height: 436px;
    background: url("sprite-desktop.png") 0 -186px no-repeat;
}

.pmsbsws-block {
    display: inline-block;
    line-height: normal;
    vertical-align: middle;
}

.pmsbsws-block-one {
    text-align: left;
    margin-left: 10%;
}

.pmsbswsb-header {
    font: 42px "Open Sans", sans-serif;
    color: rgb(255, 255, 255);
}

.pmsbswsb-text {
    font: 26px/1.6 "Open Sans", sans-serif;
    color: rgb(255, 255, 255);
    margin-bottom: 30px;
}

.pmsbswsb-button {
    display: inline-block;
    text-decoration: none;
    position: relative;
    width: 172px;
    height: 41px;
    margin-left: 5%;
    overflow: visible;
    /*IE8 fix*/
    background: rgb(80, 148, 242);
    -webkit-border-radius: 2px;
    border-radius: 2px;
}

.pmsbswsb-button:hover {
    background: rgb(72, 133, 218);
}

.pmsbswsb-button:before {
    content: "";
    position: absolute;
    left: 10px;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 23px;
    height: 23px;
    background: url("sprite-desktop.png") -44px 0 no-repeat;
}

.pmsbswsbb-text {
    position: absolute;
    top: 5px;
    right: 10px;
    font: 22px "Open Sans", sans-serif;
    color: rgb(255, 255, 255);
}

.pmsbs-arrow {
    position: absolute;
    width: 25px;
    height: 63px;
    top: 0;
    bottom: 0;
    margin: auto;
    cursor: pointer;
}

.pmsbs-arrow-left {
    left: 4%;
    background: url("sprite-desktop.png") -1021px 0 no-repeat;
}

.pmsbs-arrow-right {
    right: 4%;
    background: url("sprite-desktop.png") -996px 0 no-repeat;
}


/*---FEATURES---*/

.pm-features {
    text-align: center;
    margin: 5% 0;
}

.pmf-block {
    display: inline-block;
    width: 20%;
}

.pmf-block+.pmf-block {
    margin-left: 10%;
}

.pmfb-image {
    display: inline-block;
    width: 186px;
    height: 186px;
    background: url("sprite-desktop.png") no-repeat;
}

.pmfb-image-pencil {
    background-position: -67px 0;
}

.pmfb-image-monitor {
    background-position: -253px 0;
}

.pmfb-image-cart {
    background-position: -439px 0;
}

.pmfb-text {
    margin-top: 20px;
}

.pmfbt-link {
    text-decoration: none;
    font: 20px "Open Sans", sans-serif;
    color: rgb(80, 148, 242);
}

.pmfbt-link:hover {
    color: rgb(51, 94, 155);
}

.pmfbt-paragraph {
    font: 14px "Open Sans", sans-serif;
    color: rgb(144, 144, 144);
    margin-top: 5px;
}


/*---PRODUCT---*/

.pm-product {
    margin: 10%;
}

.pmp-header {
    font: 42px "Open Sans", sans-serif;
    color: rgb(111, 113, 115);
    margin-bottom: 30px;
}

.pmpb-image {
    float: left;
    width: 371px;
    height: 279px;
    margin-right: 8%;
    background: url("sprite-desktop.png") -625px 0 no-repeat;
}

.pmpb-text {
    overflow: hidden;
}

.pmpbt-header {
    font: 26px "Open Sans", sans-serif;
    color: rgb(111, 113, 115);
    margin-bottom: 5%;
}

.pmpbt-paragraph {
    font: 15px/2.3 "Open Sans", sans-serif;
    color: rgb(144, 144, 144);
}


/*---FOOTER---*/

.p-footer {
    font: 15px/5 "Open Sans", sans-serif;
    color: rgb(144, 144, 144);
    text-align: center;
    border-top: solid 1px rgb(222, 222, 222);
    clear: both;
}

@media screen and (max-width: 970px) {
    /*---SLIDER---*/
    .pm-slider {
        height: 247px;
    }
    .pms-background {
        background: none;
    }
    .pmsb-swipe {
        margin: 0;
    }
    .pmsbsw-slide {
        line-height: 247px;
    }
    .pmsbsw-slide-one:before {
        width: 177px;
        height: 214px;
        background: url("sprite-mobile.png") 0 -83px no-repeat;
    }
    .pmsbsws-block {
        line-height: normal;
    }
    .pmsbswsb-header {
        font: 30px "Open Sans", sans-serif;
    }
    .pmsbswsb-text {
        font: 22px/1.6 "Open Sans", sans-serif;
    }
    .pmsbswsb-button {
        width: 235px;
        height: 53px;
    }
    .pmsbswsb-button:before {
        width: 35px;
        height: 35px;
        background: url("sprite-mobile.png") -63px 0 no-repeat;
    }
    .pmsbswsbb-text {
        font: 30px "Open Sans", sans-serif;
        left: 60px;
    }
    .pmsbs-arrow {
        display: none;
    }
}

@media screen and (max-width: 940px) {
    /*---FEATURES---*/
    .pmf-block {
        width: 25%;
    }
    .pmf-block+.pmf-block {
        margin-left: 5%;
    }
    .pmfb-image {
        width: 110px;
        height: 110px;
        border-radius: 55px;
        position: relative;
    }
    .pmfb-image:before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        background: url("sprite-mobile.png") no-repeat;
    }
    .pmfb-image-pencil {
        background: rgb(80, 148, 242);
    }
    .pmfb-image-pencil:before {
        width: 60px;
        height: 83px;
        background-position: -98px 0;
    }
    .pmfb-image-monitor {
        background: rgb(217, 71, 72);
    }
    .pmfb-image-monitor:before {
        width: 73px;
        height: 63px;
        background-position: -158px 0;
    }
    .pmfb-image-cart {
        background: rgb(235, 187, 17);
    }
    .pmfb-image-cart:before {
        width: 81px;
        height: 73px;
        background-position: -231px 0;
    }
}

@media screen and (max-width: 880px) {
    /*---PRODUCT---*/
    .pmp-header {
        text-align: center;
    }
    .pmpb-image {
        float: none;
        margin: 5% auto 10%;
    }
    .pmpbt-paragraph {
        font: 17px/2 "Open Sans", sans-serif;
    }
}

@media screen and (max-width: 800px) {
    /*---FEATURES---*/
    .pm-features {
        text-align: left;
        margin: 0;
    }
    .pmf-block {
        display: block;
        width: auto;
        border-bottom: solid 1px rgb(205, 205, 205);
        padding: 20px 5%;
        overflow: hidden;
    }
    .pmf-block+.pmf-block {
        margin-left: 0;
    }
    .pmfb-image {
        float: left;
        margin-right: 5%;
    }
    .pmfb-text {
        overflow: hidden;
        margin-top: 2%;
    }
    .pmfbt-link {
        font: 29px "Open Sans", sans-serif;
    }
    .pmfbt-paragraph {
        font: 16px "Open Sans", sans-serif;
    }
}

@media screen and (max-width: 640px) {
    /*---HEADER---*/
    .phl-link {
        padding-left: 64px;
    }
    .phll-icon {
        width: 52px;
        height: 52px;
        -webkit-border-radius: 26px;
        border-radius: 26px;
        background: rgb(80, 148, 242);
    }
    .phll-icon:before {
        content: "";
        position: absolute;
        width: 24px;
        height: 21px;
        background: url("sprite-mobile.png") 0 0 no-repeat;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }
    .ph-menu {
        position: absolute;
        width: 65%;
        top: 0;
        bottom: 0;
        left: 100%;
        margin: 0;
        display: none;
        background: rgb(34, 34, 34);
    }
    .phm-link {
        display: block;
        margin: 0;
        padding: 0;
        text-align: center;
        font: 26px/2 "Open Sans", sans-serif;
    }
    .phm-link:before {
        display: none;
    }
    .phm-link:active,
    .phm-link-active {
        background: rgb(56, 56, 56);
        color: rgb(152, 152, 152);
    }
    .ph-button {
        display: inline-block;
        line-height: normal;
        vertical-align: middle;
        width: 58px;
        height: 44px;
        margin-right: 5%;
        position: relative;
        -webkit-border-radius: 2px;
        border-radius: 2px;
        background: rgb(80, 148, 242);
    }
    .ph-button:before {
        content: "";
        position: absolute;
        width: 39px;
        height: 27px;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        background: url("sprite-mobile.png") -24px 0 no-repeat;
    }
    .switcher:checked+.page .ph-button {
        background: rgb(56, 104, 169);
    }
}

@media screen and (max-width: 520px) {
    /*---SLIDER---*/
    .pmsbsw-slide-one:before {
        display: none;
    }
    .pmsbsws-block-one {
        text-align: center;
        margin-left: 0;
    }
    .pmsbswsb-button {
        margin-left: 0;
    }
}

@media screen and (max-width: 460px) {
    /*---FEATURES---*/
    .pmfbt-link {
        font: 24px "Open Sans", sans-serif;
    }
    /*---PRODUCT---*/
    .pmp-header {
        font: 34px "Open Sans", sans-serif;
    }
    .pmpb-image {
        width: 215px;
        height: 162px;
        background: url("sprite-mobile.png") -312px 0 no-repeat;
    }
    .pmpbt-paragraph {
        font: 17px/1.5 "Open Sans", sans-serif;
    }
}

@media screen and (max-width: 380px) {
    /*---FEATURES---*/
    .pmf-block {
        text-align: center;
        overflow: auto;
    }
    .pmfb-image {
        float: none;
        display: inline-block;
        margin: 0;
    }
}

@media screen and (max-width: 340px) {
    /*---PRODUCT---*/
    .pmp-header {
        font: 28px "Open Sans", sans-serif;
    }
    .pmpbt-header {
        font: 22px "Open Sans", sans-serif;
    }
    .pmpbt-paragraph {
        font: 15px/1.5 "Open Sans", sans-serif;
    }
}

@media screen and (max-width: 320px) {
    /*---HEADER---*/
    .phl-link {
        text-decoration: none;
        font: 34px/89px "Open Sans", sans-serif;
        padding-left: 48px;
    }
    .phll-icon {
        width: 44px;
        height: 44px;
        -webkit-border-radius: 22px;
        border-radius: 22px;
    }
}
