section.about
  .container
    h2.about__title.section-title почему мы?
    ul.about__feature-list
      li.about__feature-item 
        .about__feature-image.about__feature-image--first
        .about__feature-description
          h3.about__feature-title Работаем во многих регионах
          p.about__feature-text.
            Lorem ipsum dolor sit amet, consectetur 
            adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida 
            dolor sit amet lacus   
      li.about__feature-item 
        .about__feature-image.about__feature-image--second
        .about__feature-description
          h3.about__feature-title Членский взнос на 2017 год 60 т.р.
          p.about__feature-text.
            Lorem ipsum dolor sit amet, consectetur 
            adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida 
            dolor sit amet lacus
      li.about__feature-item 
        .about__feature-image.about__feature-image--third
        .about__feature-description
          h3.about__feature-title Помощь при переходе в наши СРО
          p.about__feature-text.
            Мы помогаем с "возвратом" компенсационного фонда, 
            переговорами или юридической помощью с составлением искового заявления.
      li.about__feature-item 
        .about__feature-image.about__feature-image--fourth
        .about__feature-description
          h3.about__feature-title Помощь в прохождении проверок
          p.about__feature-text.
            Lorem ipsum dolor sit amet, consectetur 
            adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida 
            dolor sit amet lacus   
      li.about__feature-item 
        .about__feature-image.about__feature-image--fifth
        .about__feature-description
          h3.about__feature-title Срок оформления допуска
          p.about__feature-text 2 дня с момента оплаты всех взносов
      li.about__feature-item 
        .about__feature-image.about__feature-image--sixth
        .about__feature-description
          h3.about__feature-title Свой учебный центр
          p.about__feature-text.
            Помощь в аттестации РТН, оформление всех лицензий, 
            необходимых для некоторых видов работ, сертификация 
            компаний по стандартам ИСО (ISO).