section.callback
  .container
    h2.callback__title есть вопросы?
    p.callback__decription оставьте заявку и мы вам перезвоним в течении 1 минуты!
    form.callback__form
      .callback__form-item
        span.callback__input.input.input--akira
          input(type="text")#input-1.input__field.input__field--akira
          label(for="input-1").lnput__label.input__label--akira
            span.input__label-content.input__label-content--akira Введите имя
      .callback__form-item
        span.callback__input.input.input--akira
          input(type="text")#input-2.input__field.input__field--akira
          label(for="input-2").lnput__label.input__label--akira
            span.input__label-content.input__label-content--akira Введите телефон
      .callback__form-item
        button(type="submit").callback__button.button Отправить