header.header
	.container
		nav.header-nav
			a(href="#").header-logo__link центр сро
			ul.header-nav__list.hidden
				+navItem('Вступление в СРО')
				+navItem('Учебный центр')
				+navItem('Сертификаты')
				+navItem('Контакты')
			span.header-nav__phone +38 (096) 74-04-758
			button(type="button").hamburger.hamburger--slider
				span.hamburger-box
					span.hamburger-inner
		.banner
			h1.banner__title получите законный допуск сро
			.banner__description
				p.banner__text без посредников и с гарантией
				p.banner__text 
					span.banner__icon
					| оформление за 2 дня
				a(href="#").banner__btn.button получить допуск
				.scroll-btn
				