@charset "UTF-8";
/*
================================================================================
|                                     reset                                     |
================================================================================
*/
body {
  margin: 0px;
  padding: 0px;
  font-family: Tahoma,Arial, sans-serif;
  background-color: #FFFFFF;
  height: 100%;
  position: relative;
  font-size: 13px !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/*MAIN*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer,
header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, main {
  display: block; }

body {
  line-height: 1; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-width: 0px;
  padding: 0px;
  margin: 0px; }

html {
  height: 100%;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none; }

input, textarea {
  color: #333;
  outline: none;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -webkit-appearance: none; }

input[type="button"], input[type="submit"], button {
  cursor: pointer; }

td {
  margin: 0px;
  padding: 0px; }

form {
  padding: 0px;
  margin: 0px; }

a {
  color: #000100;
  transition: all 0.2s linear;
  text-decoration: none;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent; }

input[type=submit], input[type=button], button {
  -webkit-appearance: none;
  outline: none; }

* {
  box-sizing: border-box; }

*:before, *:after {
  box-sizing: border-box; }

.clearfix:after,
.wrapper:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

@font-face {
  font-family: 'PTSans-Regular';
  src: url("../fonts/PTSans-Regular.woff") format("woff"), url("../fonts/PTSans-Regular.ttf") format("truetype"), url("../fonts/PTSans-Regular.svg#PTSans-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'PT_Sans-Web-Regular';
  src: url("../fonts/PT_Sans-Web-Regular.eot");
  src: url("../fonts/PT_Sans-Web-Regular.woff2") format("woff2"), url("../fonts/PT_Sans-Web-Regular.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'PTSans-Bold';
  src: url("../fonts/PTSans-Bold.woff") format("woff"), url("../fonts/PTSans-Bold.ttf") format("truetype"), url("../fonts/PTSans-Bold.svg#PTSans-Bold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'PT_Sans-Web-Bold';
  src: url("../fonts/PT_Sans-Web-Bold.eot");
  src: url("../fonts/PT_Sans-Web-Bold.woff2") format("woff2"), url("../fonts/PT_Sans-Web-Bold.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?milq07");
  src: url("../fonts/icomoon.eot?milq07#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?milq07") format("truetype"), url("../fonts/icomoon.woff?milq07") format("woff"), url("../fonts/icomoon.svg?milq07#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-circle:before {
  content: "\e900"; }

.icon-hamb:before {
  content: "\e901"; }

.icon-list-bullet:before {
  content: "\e902"; }

.icon-login:before {
  content: "\e903"; }

.icon-menu-down:before {
  content: "\e904"; }

.icon-search:before {
  content: "\e905"; }

.icon-shevron-left:before {
  content: "\e906"; }

.icon-shevron-right:before {
  content: "\e907"; }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

/* Slider */
/* Icons */
/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none; }
  .slick-prev:hover, .slick-prev:focus,
  .slick-next:hover,
  .slick-next:focus {
    outline: none;
    background: transparent;
    color: transparent; }
    .slick-prev:hover:before, .slick-prev:focus:before,
    .slick-next:hover:before,
    .slick-next:focus:before {
      opacity: 1; }
  .slick-prev.slick-disabled:before,
  .slick-next.slick-disabled:before {
    opacity: 0.25; }
  .slick-prev:before,
  .slick-next:before {
    font-family: "slick";
    font-size: 20px;
    line-height: 1;
    color: white;
    opacity: 0.75;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }

.slick-prev {
  left: -25px; }
  [dir="rtl"] .slick-prev {
    left: auto;
    right: -25px; }
  .slick-prev:before {
    content: "←"; }
    [dir="rtl"] .slick-prev:before {
      content: "→"; }

.slick-next {
  right: -25px; }
  [dir="rtl"] .slick-next {
    left: -25px;
    right: auto; }
  .slick-next:before {
    content: "→"; }
    [dir="rtl"] .slick-next:before {
      content: "←"; }

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px; }

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%; }
  .slick-dots li {
    position: relative;
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer; }
    .slick-dots li button {
      border: 0;
      background: transparent;
      display: block;
      height: 20px;
      width: 20px;
      outline: none;
      line-height: 0px;
      font-size: 0px;
      color: transparent;
      padding: 5px;
      cursor: pointer; }
      .slick-dots li button:hover, .slick-dots li button:focus {
        outline: none; }
        .slick-dots li button:hover:before, .slick-dots li button:focus:before {
          opacity: 1; }
      .slick-dots li button:before {
        position: absolute;
        top: 0;
        left: 0;
        content: "•";
        width: 20px;
        height: 20px;
        font-family: "slick";
        font-size: 6px;
        line-height: 20px;
        text-align: center;
        color: black;
        opacity: 0.25;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale; }
    .slick-dots li.slick-active button:before {
      color: black;
      opacity: 0.75; }

.slick-dots {
  position: absolute;
  bottom: -65px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%; }
  .slick-dots li {
    position: relative;
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 0 9px;
    padding: 0;
    cursor: pointer; }
    .slick-dots li button {
      border: 0;
      background: transparent;
      display: block;
      height: 20px;
      width: 20px;
      outline: none;
      line-height: 0px;
      font-size: 0px;
      color: transparent;
      padding: 5px;
      cursor: pointer; }
      .slick-dots li button:hover, .slick-dots li button:focus {
        outline: none; }
      .slick-dots li button:before {
        position: absolute;
        top: 0;
        left: 0;
        content: "•";
        width: 20px;
        height: 20px;
        font-family: "slick";
        font-size: 75px;
        line-height: 20px;
        text-align: center;
        color: #cb944c;
        opacity: 0.25;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale; }
    .slick-dots li.slick-active button:before {
      color: #cb944c;
      opacity: 1; }

@media screen and (max-width: 750px) {
  .slick-dots {
    display: none !important; } }

/*

================================================================================
|                                     MAIN STYLES                                     |
================================================================================
*/
.main-wrapper {
  padding: 0 0 0 0;
  min-width: 320px;
  position: relative;
  overflow: hidden;
  min-height: 100%; }

.wrapper {
  min-width: 320px;
  max-width: 1280px;
  padding: 0 40px 0 40px;
  margin: 0 auto;
  position: relative; }

/* titles */
p {
  font-size: 1em;
  line-height: 1.1em;
  padding: 15px 0 15px 0;
  font-weight: 400;
  color: #17202f; }

h1 {
  font-size: 2em;
  line-height: 1.1em;
  padding: 15px 0 15px 0;
  font-weight: 400;
  color: #17202f; }

h2 {
  font-size: 1.8em;
  line-height: 1.1em;
  padding: 15px 0 15px 0;
  font-weight: 400;
  color: #17202f; }

/* text position */
.text-left {
  text-align: left !important; }

.text-center {
  text-align: center !important; }

.text-right {
  text-align: right !important; }

.nowrap {
  white-space: nowrap !important; }

/* loader */
.loaded .main-wrapper {
  visibility: hidden; }

.icon-load {
  background: url(../img/loader.gif) no-repeat left top;
  width: 40px;
  height: 40px;
  position: fixed;
  left: 50%;
  top: 50%;
  margin-left: -20px;
  margin-left: -20px;
  display: none; }

.loaded .icon-load {
  display: block; }

/*
================================================================================
|                                     HEADER                                   |
================================================================================
*/
header {
  min-width: 320px;
  width: 100%;
  text-align: left; }

.header-wrapper {
  position: relative;
  margin: 0 auto;
  padding: 0 10px;
  min-width: 320px;
  max-width: 1265px;
  z-index: 10;
  background-color: #fff; }

.header-mobile {
  display: none; }

.mobile-list {
  display: -ms-flexbox;
  display: flex;
  width: 100%; }

.mobile-list__item {
  width: calc(100% / 6);
  list-style-type: none;
  background-color: #f0f1f6;
  height: 40px;
  padding-top: 11px; }
  .mobile-list__item:hover {
    background-color: #3eade2; }

.mobile-list__item:first-child {
  background-color: #3eade2; }

.mobile-list__link {
  display: block;
  text-align: center; }

.mobile-list__icon {
  display: inline-block;
  background-image: url(../img/sprite.png);
  background-repeat: no-repeat; }

.mobile-menu {
  width: 16px;
  height: 14px;
  background-position: -88px -5px; }

.mobile-home {
  width: 20px;
  height: 16px;
  background-position: -58px -5px; }

.mobile-search {
  width: 16px;
  height: 16px;
  background-position: -143px -5px; }

.mobile-basket {
  width: 17px;
  height: 17px;
  background-position: -5px -5px; }

.mobile-login {
  width: 19px;
  height: 16px;
  background-position: -114px -5px; }

.mobile-call {
  width: 16px;
  height: 17px;
  background-position: -32px -5px; }

.header-row {
  display: -ms-flexbox;
  display: flex;
  padding: 29px 15px 12px 15px;
  width: 100%;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.logo {
  margin-top: 5px;
  margin-right: 40px;
  width: 247px;
  -ms-flex-negative: 0;
  flex-shrink: 0; }

.logo__image {
  width: 100%; }

.logo__description {
  padding: 6px 0 0;
  color: #747688;
  font-size: 14px;
  font-family: "PTSans-Regular", sans-serif; }

.search {
  width: 50%; }

.search__form {
  display: -ms-flexbox;
  display: flex;
  border: 1px #b8b8bd solid;
  border-radius: 5px;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap; }

.search__input {
  padding: 10px 8px 10px 8px;
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 15px;
  color: #b8b8bd; }

.search__submit {
  margin-right: -5px;
  height: 35px;
  border: none;
  border-radius: 15px;
  background-color: transparent; }

.search__icon {
  color: #cb944c;
  font-size: 45px;
  line-height: 35px; }

.contacts {
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-left: 85px;
  padding-top: 5px;
  width: 336px;
  font-family: "PTSans-Regular", sans-serif;
  -ms-flex-negative: 0;
  flex-shrink: 0; }

.contacts__phone {
  margin: 5px 10px 0 0;
  -ms-flex-negative: 0;
  flex-shrink: 0; }

.contacts__number {
  padding: 0;
  color: #181616;
  font-size: 23px; }

.contacts__shedule {
  padding: 3px 0 0 0;
  -ms-flex-negative: 0;
  flex-shrink: 0; }

.contacts__work-time {
  padding: 0;
  color: #cb944c;
  font-size: 14px; }

.contacts__delivery {
  padding: 0 0 2px 0;
  color: #2b3056;
  font-size: 14px; }

.header-nav {
  min-width: 320px;
  max-width: 1245px;
  padding: 19px 0 14px 0;
  border-top: 1px #dddfdf solid;
  border-bottom: 1px #dddfdf solid;
  background-color: #fff; }

.nav-wrapper {
  padding: 0 10px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative; }

.nav-list {
  list-style-type: none;
  width: 67%;
  margin-left: -7px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.nav-list__item {
  position: relative;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin-right: 20px; }
  .nav-list__item:last-child {
    margin-right: 0; }

.list-item__description {
  font-family: "PTSans-Bold", sans-serif;
  font-size: 16px;
  color: #171717; }

.list-item__dropdown {
  padding-left: 35px; }

.icon-hamb {
  color: #cb944c;
  font-size: 25px;
  position: absolute;
  top: -4px; }

.icon-menu-down {
  color: #cb944c;
  font-size: 14px; }

.nav-dropdown {
  display: none;
  width: 245px;
  position: absolute;
  top: 14px;
  left: -3px; }

.nav-dropdown__list {
  list-style-type: none;
  margin-top: 30px;
  padding: 8px 0;
  background: #fff;
  border: 1px solid #dddfdf;
  border-radius: 4px;
  box-shadow: 2px 3px 3px 0 rgba(0, 0, 0, 0.2); }

.nav-dropdown__item {
  position: relative; }
  .nav-dropdown__item:hover {
    background-color: #e9e9ea; }

.dropdown-item__link {
  display: inline-block;
  padding: 7px 15px 7px 34px; }
  .dropdown-item__link::before {
    content: '';
    display: block;
    position: absolute;
    left: 15px;
    top: 13px;
    width: 6px;
    height: 6px;
    border: 1px solid #cb944c;
    border-radius: 50%; }

.dropdown-item__description {
  display: inline-block;
  font-family: "PTSans-Regular", sans-serif;
  color: #666666;
  font-size: 15px;
  line-height: 19px; }

.icon-shevron-right {
  color: #cb944c;
  font-size: 14px;
  position: absolute;
  right: 4px;
  top: 8px; }

.dropdown-inner {
  left: 100%;
  top: -13px; }

.list-inner {
  padding: 12px 0;
  margin-left: 3px;
  margin-top: 0; }

.dropdown-item__title {
  display: inline-block;
  padding: 7px 15px 7px 14px;
  width: 100%;
  font-family: "PTSans-Bold", sans-serif;
  font-size: 16px;
  color: #cb944c; }
  .dropdown-item__title:hover {
    background-color: #fff; }

.nav-list__item--dropdown:hover > .nav-dropdown {
  display: block; }

.nav-dropdown__item--subnav:hover > .dropdown-inner {
  display: block; }

.user-block {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap; }

.basket {
  display: block;
  margin-top: -3px;
  margin-right: 20px;
  -ms-flex-negative: 0;
  flex-shrink: 0; }

.basket-icon {
  display: inline-block;
  width: 23px;
  height: 23px;
  margin-right: 5px;
  background: url(../img/sprite.png) no-repeat -169px -5px; }

.basket-counter {
  display: inline-block;
  font-family: "PTSans-Bold", sans-serif;
  color: #fff;
  font-size: 14px;
  line-height: 17px;
  vertical-align: top;
  margin: -2px 5px 0 5px;
  width: 24px;
  height: 24px;
  padding: 3px 2px 2px 2px;
  text-align: center;
  border-radius: 50%;
  background: #cb944c; }

.basket-sum {
  display: inline-block;
  font-family: "PTSans-Bold", sans-serif;
  font-size: 14px;
  color: #252a54;
  vertical-align: top;
  line-height: 22px; }

.login {
  display: block;
  -ms-flex-negative: 0;
  flex-shrink: 0; }

.login__icon {
  display: inline-block;
  width: 19px;
  height: 17px;
  background: url(../img/sprite.png) no-repeat -202px -5px;
  margin-right: 3px; }

.login__text {
  display: inline-block;
  font-family: "PTSans-Bold", sans-serif;
  font-size: 16px;
  color: #252a54;
  vertical-align: top; }

/*
================================================================================
|                                     CONTENT                                 |
================================================================================
*/
.content {
  width: 100%;
  min-width: 320px;
  text-align: left;
  background: #fff;
  padding: 0; }

.slider-section {
  max-width: 1375px;
  min-width: 320px;
  margin: 0 auto; }

.slider-wrapper {
  max-width: 1355px;
  min-width: 320px;
  margin: 0 10px;
  padding: 31px 0 50px 0;
  height: 500px; }

.slider__item {
  position: relative; }

.slider__image {
  width: 100%;
  height: auto; }

.slider__title {
  font-family: "PTSans-Regular", sans-serif;
  font-size: 42.5px;
  line-height: 47.7px;
  color: #fff;
  background-color: rgba(210, 166, 107, 0.9);
  padding: 15px 40px 21px 35px;
  position: absolute;
  bottom: 30%;
  left: 5%;
  z-index: 1;
  max-width: 500px; }

.slider__button--prev {
  position: absolute;
  display: block;
  height: 130px;
  width: 35px;
  bottom: 30%;
  cursor: pointer;
  background-color: rgba(210, 166, 107, 0.9);
  z-index: 1; }

.shevron-left {
  display: inline-block;
  margin-top: 50px;
  margin-left: -10px;
  color: #fff;
  font-size: 30px; }

.slider__button--next {
  position: absolute;
  display: block;
  height: 130px;
  width: 35px;
  bottom: 30%;
  right: 0%;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.88);
  z-index: 1; }

.shevron-right {
  display: inline-block;
  margin-top: 42px;
  margin-right: -15px;
  color: #cb944c;
  font-size: 30px; }

/*
================================================================================
|                                     FOOTER                                   |
================================================================================
*/
footer {
  height: 81px;
  text-align: left;
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100%;
  min-width: 320px; }

@media screen and (max-width: 1200px) {
  .contacts {
    margin-left: 50px;
    width: 310px; }
  .contacts__number {
    font-size: 20px; } }

@media screen and (max-width: 1180px) {
  .logo {
    width: 225px; }
  .contacts {
    margin-top: -10px; }
  .header-row {
    padding-bottom: 25px; }
  .header-nav {
    padding-bottom: 19px; }
  .nav-list {
    width: 100%; }
  .user-block {
    position: absolute;
    right: 16px;
    top: -50px; } }

@media screen and (max-width: 980px) {
  .logo {
    width: 180px;
    margin-top: 0; }
  .logo__description {
    font-size: 13px;
    padding: 2px 0 0; }
  .search__input {
    height: auto;
    font-size: 10px; }
  .search__icon {
    font-size: 30px; }
  .contacts {
    margin-left: 26px;
    width: 233px; }
  .contacts__phone {
    margin: 8px 12px 0 0; }
  .contacts__number {
    font-size: 15px; }
  .contacts__work-time,
  .contacts__delivery {
    font-size: 10px; }
  .header-row {
    padding-bottom: 36px; }
  .user-block {
    transform: scale(0.8) translateX(41px); }
  .basket-sum__value {
    font-size: 16px; }
  .nav-list__item:last-child {
    margin-right: -4px; }
  .dropdown-item__title {
    font-size: 15px; }
  .slider__title,
  .slider__button--prev,
  .slider__button--next {
    bottom: 20%; } }

@media screen and (max-width: 880px) {
  .nav-list__item {
    margin-right: 10px; }
  .nav-dropdown {
    left: 14px; }
  .dropdown-inner {
    left: 100%; }
  .nav-list__item--dropdown {
    margin-top: -2px; }
  .list-item__description {
    font-size: 13px; }
  .basket {
    margin-right: 14px; }
  .slider-wrapper {
    padding-top: 20px; }
  .slider__title {
    transform: scale(0.5);
    bottom: 15%;
    left: -12%; }
  .slider__button--prev {
    transform: scale(0.5);
    bottom: 15%;
    left: -9px; }
  .slider__button--next {
    transform: scale(0.5);
    bottom: 15%;
    right: -9px; }
  .slick-dots {
    transform: scale(0.7);
    bottom: -40px; } }

@media screen and (max-width: 750px) {
  .logo__image {
    width: 110%; }
  .header-wrapper {
    padding: 0; }
  .header-row {
    padding: 13px 20px 17px 20px; }
  .search,
  .contacts,
  .header-nav {
    display: none; }
  .header-mobile {
    display: block; }
  .slider-wrapper {
    padding-top: 0; } }

@media screen and (max-width: 650px) {
  .slider-wrapper {
    margin: 0; }
  .slider__title,
  .slider__button--prev,
  .slider__button--next {
    bottom: 20%; } }

@media screen and (max-width: 480px) {
  .slider__title {
    font-size: 30px;
    line-height: 36px;
    bottom: 18%;
    left: -68px; }
  .slider__button--prev {
    bottom: 18%;
    height: 108px; }
  .shevron-left {
    margin-top: 38px; }
  .slider__button--next {
    bottom: 18%;
    height: 108px; }
  .shevron-right {
    margin-top: 30px; } }

@media screen and (max-width: 370px) {
  .slider__title {
    width: 380px;
    bottom: 14%;
    left: -68px;
    padding: 5px 15px 10px 15px; }
  .slider__button--prev {
    bottom: 28%;
    height: 57px;
    width: 40px;
    left: -10px; }
  .shevron-left {
    font-size: 30px;
    margin-top: 12px;
    margin-left: -10px; }
  .slider__button--next {
    bottom: 28%;
    height: 57px;
    width: 40px;
    right: -11px; }
  .shevron-right {
    font-size: 30px;
    margin-top: 6px;
    margin-right: -10px; } }
