.wrapper {
	border-style: solid;
    border-width: 4px;
    border-color: #ee8129;
    border-radius: 6px;
    width: 288px;
    height: 387px;
    font-family: Trebuchet MS;
    box-shadow: 0 0 25px silver;
}

.wrapper__inner {
	padding: 5px;
}

h2 {
	display: block;
	width: 100%;
	background: #ee8129;
	color: #fff;
	margin: 0;
	text-align: center;
	padding: 10px 0;
}

h3 {
	display: block;
	width: 100%;
	margin: 0;
	text-align: center;
	color: #3f4042;
	font-size: 22px;
	padding-top: 5px;
}

.twfive {
	width: 100%;
	font-size: 72px;
	font-weight: bold;
	color: #35495a;
	text-align: center;
	margin: 10px 0;
}

.twfive::before {
	content: "$";
	font-size: 30px;
	font-weight: bold;
	vertical-align: top;
}

.twfive::after {
	content: "Monthly";
	font-size: 18px;
	font-weight: bold;
	vertical-align: sub;
}

ul {
	list-style: none;
	padding: 5px;
}

li {
	background-color: gray;
	padding: 3px 20px;
	border-bottom: 1px solid #fff;
}

li::before {
	content: url(mark.png);
	margin-right: 10px;
}

li:nth-of-type(odd) {
	background-color: #EDF5FD; 
}

li:nth-of-type(even) {
	background-color: #F5F5F6;
}

input[type=submit] {
	color: white;
	width: 253px;
	height: 39px;
	font-size: 14px;
	text-decoration: none;
	font-weight: bold;
	background: #ee8129;
	border-bottom: 6px solid #b3560b;
	border-radius: 6px;
	text-align: center;
	margin-left: 11px;
	margin-bottom: 10px;
}

