//fonts


// @font-face {
//     font-family: 'OpenSansLight';
//     src: url('fonts/opensanslight-webfont.eot');
//     src: url('fonts/opensanslight-webfont.eot?#iefix') format('embedded-opentype'),
//          url('fonts/opensanslight-webfont.woff2') format('woff2'),
//          url('fonts/opensanslight-webfont.woff') format('woff'),
//          url('fonts/opensanslight-webfont.svg#open_sans_lightregular') format('svg');
//     font-weight: normal;
//     font-style: normal;

// }

// variables color
$white2: #f5f5f5;
$black: #000000;
$white: #ffffff;

$black2: #232323;
$green: #94CE58;
$green2: #afda82;
$gray: #737373;
