.fb_glyph, .vk_glyph, .inst_glyph, .icon_enter, .icon_bookmark, .icon_trolley, .icon_search, .icon_user, .shadow{
	background: url(sprites.png) no-repeat;
}

.fb_glyph{
	background-position: -1.9999847412109375px -1.9886322021484375px ;
	width: 11px;
	height: 23px;
}

.vk_glyph{
	background-position: -18.988632202148438px -2.99432373046875px ;
	width: 14px;
	height: 16px;
}

.inst_glyph{
	background-position: -39.99714660644531px -1.99432373046875px ;
	width: 19px;
	height: 18px;
}

.icon_enter{
	background-position: -65.99998474121094px -3px ;
	width: 16px;
	height: 16px;
}

.icon_bookmark{
	background-position: -90.98579406738281px -4px ;
	width: 12px;
	height: 14px;
}

.icon_trolley{
	background-position: -119.94602966308594px -6.9886322021484375px ;
	width: 16px;
	height: 13px;
}

.icon_search{
	background-position: -148.9943084716797px -6px ;
	width: 16px;
	height: 16px;
}

.icon_user{
	background-position: -249.99147033691406px 0;
	width: 16px;
	height: 16px;
}

.shadow{
	background-position: -301.9943084716797px 0;
	width: 10px;
	height: 272px;
}

