section#contact.contact
  .container
    h2.title.about__title.title-underline Contact Us
    p.resource__descr.contact__decr We’re based in London and have offices in key international financial centres. We also partner with outstanding professionals worldwide – so wherever you or your clients are, we can deliver the very best knowledge, resources and service.
    ul.contact__list
      
      li.contact__list-item
        .list-item__image
          a(href="#")
           img(src="assets/images/map-london.jpg", alt="London")
        h4.list-item__title.contact__title London - UK
        .list-item__address-block
          address.list-item__text 
                                | 5th Floor<br>
                                | St James, London<br>
                                | 86 Jermyn Street<br>
                                | SW1Y 6AW
        p.list-item__text Telephone: 
          a(href="tel:+44(0)2079307111").list-item__link + 44 (0)20 7930 7111
        p.list-item__text Facsimile:
          a(href="tel:+44(0)2079307111").list-item__link + 44 (0)20 7930 7444
        p.list-item__text Email:
          a(href="london@verfides.net").list-item__link london@verfides.net

      li.contact__list-item
        .list-item__image
          a(href="#")
           img(src="assets/images/map-dublin.jpg", alt="Dublin")
        h4.list-item__title.contact__title Dublin - Ireland
        .list-item__address-block
          address.list-item__text 
                                | 68 Fitzwilliam Square<br>
                                | Dublin 2<br>
                                | Ireland<br>
          p.list-item__text 
        p.list-item__text Telephone: 
          a(href="tel:+35316629310").list-item__link + 353 1 662 9310 
        p.list-item__text Facsimile:
          a(href="tel:+35316629311").list-item__link + 353 1 662 9311 
        p.list-item__text Email:
          a(href="dublin@verfides.net").list-item__link dublin@verfides.net
      
      li.contact__list-item
        .list-item__image
          a(href="#")
           img(src="assets/images/map-cyprus.jpg", alt="Cyprus")
        h4.list-item__title.contact__title Nicosia - Cyprus
        .list-item__address-block
          address.list-item__text 
                                | 30 Costa Anaxagora<br>
                                | Storikon Building<br>
                                | 1st Floor, Office 102<br>
                                | CY - 2014 Nicosia
        p.list-item__text Telephone: 
          a(href="tel:+35722007885").list-item__link +357 22 007885
        p.list-item__text Facsimile:
          a(href="tel:+35722007886 ").list-item__link +357 22 007886
        p.list-item__text E-mail:
          a(href="london@verfides.net").list-item__link cyprus@verfides.net

      

