section#client.question
  .container
    h2.title.about__title.title-underline Questions?
    h3.register__title Feel free to send us an enquiry for an initial consultation.
    form(action="#").section-form.question-form
      p.question-form__text Mandatory Fields*
      .question-form__inner
        .question-form__column
          input(type="text", placeholder="Name*").question-form__input
          input(type="email", placeholder="Email Address*").question-form__input
          input(type="tel", placeholder="Telephone*").question-form__input
        .question-form__column
          textarea(cols="30", rows="9" placeholder="Enquiry*").question-form__textarea
      button(type="submit").register-form__btn Submit
        span.icon-arrow-r.tax__arrow  