section.register
  .container
    h3.register__title Register here for our mailing list and we will keep you up to date with news from Verfides.
    form(action="#").section-form.register-form
      .register-form__row
        input(type="text", placeholder="Name").register-form__input
        input(type="email", placeholder="Email Address").register-form__input
      button(type="submit").register-form__btn Submit
        span.icon-arrow-r.tax__arrow  