section#resource.resource
  .container
    h2.title.about__title.title-underline Resources
    p.resource__descr We regularly publish technical articles and guides on our website and in professional publications on various tax and structuring matters, including updates on developments in UK and international tax. Click “See All” below to view our full library. 
    .resource-news
      .news-item
        a(href="#")
         h3.news-item__title Spain: ECJ Rules Inheritance Tax Discriminatory
        p.news-item__text The European Court of Justice (ECJ) has ruled that Spain is in breach of European Union treaties by imposing a higher rate of gift and inheritance taxes on non-residents.
        a(href="#").news-item__link Read More
          span.icon-arrow-r.news-arrow 
      .news-item
        a(href="#")
          h3.news-item__title UK: Remittance Basis Restricted For Loan Collateral
        p.news-item__text HMRC has announced the sudden withdrawal of a concession whereby foreign income and gains used as loan collateral were not considered to have been remitted to the UK.  
        a(href="#").news-item__link Read More
          span.icon-arrow-r.news-arrow
    .btn.resource__btn
      a(href="#") 
        span.btn-text See All 
        span.icon-arrow-r.management__arrow
    p.resource__descr.resource__descr--share Brochures Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    .resource-downloads
      .resource-downloads__item
        .downloads-item__image
          a(href="#")
            img(src="assets/images/book1.jpg", alt="Brochure")
        p.resource__descr.downloads__descr verFides Service Brochure 2015
        a(href="#").news-item__link Download PDF
          span.icon-arrow-d.news-arrow     
      .resource-downloads__item
        .downloads-item__image
          a(href="#")
            img(src="assets/images/book2.jpg", alt="Brochure")
        p.resource__descr.downloads__descr verFides Financial Report 2014/15
        a(href="#").news-item__link Download PDF
          span.icon-arrow-d.news-arrow
