section#service.service
  .container
    h2.title.about__title.title-underline Services
    ul.service-list
      li.service-list__item
        a(href="#").service-link
          .service-icon.service-icon-lightblue
            span.icon-image.icon-icon-1
          .service-descr
            span.service-descr__text Trust & Estate Planning
      li.service-list__item
        a(href="#").service-link
          .service-icon.service-icon-blue
            span.icon-image.icon-icon-2
          .service-descr
            span.service-descr__text Tax Advisory Services
      li.service-list__item
        a(href="#").service-link
          .service-icon.service-icon-darkpink
            span.icon-image.icon-icon-3
          .service-descr
            span.service-descr__text Employment Solutions: UK Businesses
      li.service-list__item
        a(href="#").service-link
          .service-icon.service-icon-grey
            span.icon-image.icon-icon-4
          .service-descr
            span.service-descr__text UK Real Estate Structuring
      li.service-list__item
        a(href="#").service-link
          .service-icon.service-icon-lightgrey
            span.icon-image.icon-icon-5
          .service-descr
            span.service-descr__text Coming to the UK: Businesses & Individuals
      li.service-list__item
        a(href="#").service-link
          .service-icon.service-icon-darkgrey
            span.icon-image.icon-icon-6
          .service-descr
            span.service-descr__text Wealth Structure & Family Office
      li.service-list__item
        a(href="#").service-link
          .service-icon.service-icon-pink
            span.icon-image.icon-icon-7
          .service-descr
            span.service-descr__text Corporate & Fiduciary Services     
      li.service-list__item
        a(href="#").service-link
          .service-icon.service-icon-lightpink
            span.icon-image.icon-icon-8
          .service-descr
            span.service-descr__text Accountancy & Tax Compliance
  .service-banner