section.tax
  .container
    h2.title.about__title.title-underline Tax at a Glance
    p.tax__description View international tax rates with our built-in feature.
    .btn.tax__btn
      a(href="#") 
        span.btn-text View Int'l Tax Rates
        span.icon-arrow-r.tax__arrow