.contact-form{
	margin: 0;
	padding: 3px 0 0;
	&:after{
		content:'';
		display:block;
		clear:both;
	}
	.row{
		padding: 0 0 31px;
		position: relative;
		&:after{
			content:'';
			display:block;
			clear:both;
		}
	}
	.form-fields-row{
		margin: 0 0 -31px -29px;
		label.error{margin-left: 29px;}
		&:after{
			content:'';
			display:block;
			clear:both;
		}
		.row{
			padding: 0;
		}
		.form-field{
			width: 50%;
			float: left;
			padding: 0 0 31px 29px;
			position: relative;
			@include media("<desktop"){
				width: 100%;
			}
		}
	}
	input[type="text"],
	input[type="email"],
	textarea{
		width: 100%;
		float: left;
		border-color: $white;
		transition: all .25s ease;
		&.error{
			background: rgba($red,0.3);
		}
	}
	textarea{
		height: 179px;
		min-height: 179px;
	}
	label.error{
		position: absolute;
		top: -20px;
		left: 15px;
		color: rgba($red,1);
		z-index: 2;
		font-size: 14px;
		transition: all .25s ease;
	}
	input[type="submit"]{
		float: right;
		background: $turquoise-color;
		font-size: 22px;
		line-height: 25px;
		color: $white;
		border: none;
		border-radius: 3px;
		padding: 13px;
		min-width: 170px;
		transition: all .25s ease;
		&:hover{
			background: $white;
			color: $turquoise-color;
		}
		@include media("<tablet"){
			width: 100%;
			float: left;
		}
	}
}