.visual{
	overflow: hidden;
	margin: 0 -9999px;
	background: #49cbcd;
	.visual-main{
		width: 100vw;
		margin: 0 auto;
		background: $turquoise-color;
		position: relative;
		z-index: 1;
		overflow: hidden;
	}
	.slick-list{
		position: relative;
		z-index: 1;
	}
	.slide{
		position: absolute;
		width: 100%;
		float: left;
		display: flex;
		align-items: center;
		justify-content: center;
		color: #fff;
		z-index: 1;
	}
	.description{
		position: absolute;
		font-size: 23px;
		line-height: 37px;
		text-align: center;
		z-index: 2;
		padding: 0 90px;
		@include media("<tablet"){
			font-size: 14px;
			line-height: 17px;
		}
		a{
			color: #fff;
		}
	}
	h2{
		display: block;
		font-weight: 600;
		font-size: 63px;
		line-height: 75px;
		text-shadow: 0 1px 0 rgba(0,0,0,0.16);
		margin: 0 0 23px;
		@include media("<desktop"){
			font-size: 40px;
			line-height: 45px;
			margin: 0;
		}
		@include media("<tablet"){
			font-size: 23px;
			line-height: 23px;
			margin: 0 0 5px;
		}
		a{
			text-decoration: none;
			color: #fff;
			transition: all .2s ease;
			&:hover{
				color: #4e525d;
				text-shadow: 0 1px 0 rgba(255,255,255,0.16);
				text-decoration: none;
			}
		}
	}
	.description-text{
		margin: 0 auto 15px;
		max-width: 400px;
		min-height: 112px;
		@include media("<desktop"){
			max-width: none;
			min-height: 1px;
		}
		@include media("<tablet"){
			max-width: 300px;
		}
		p{
			margin: 0;
		}
	}
	.btn-more{
		display: inline-block;
		vertical-align: top;
		border: 3px solid $white;
		border-radius: 5px;
		text-decoration: none;
		padding: 17px 10px;
		font-weight: 600;
		font-size: 26px;
		line-height: 29px;
		min-width: 231px;
		transition: all .3s ease;
		&:hover{
			background: $white;
			color: #4e525d;
		}
		@include media("<tablet"){
			font-size: 16px;
			line-height: 19px;
			padding: 5px 10px;
		}
	}
	img{
		opacity: .5;
		display: block;
		max-width: none;
		width: 100%;
		@include media("<tablet"){
			width: 200%;
			margin: 0 0 0 -50%;
		}
	}
	.slick-prev,
	.slick-next{
		position: absolute;
		z-index: 2;
		top: 50%;
		margin: -26px 0 0;
		left: 29px;
		width: 52px;
		height: 52px;
		border-radius: 50%;
		background: #fefefe;
		text-indent: -9999px;
		overflow: hidden;
		font-size: 0;
		line-height: 0;
		border: 1px solid transparent;
		transition: all .3s ease;
		outline: none;
		&:before{
			content:'';
			position: absolute;
			top: 50%;
			left: 50%;
			width: 18px;
			height: 18px;
			margin: -9px 0 0 -5px;
			border: solid $turquoise-color;
			border-width: 1.5px 0 0 1.5px;
			transition: all .3s ease;
			transform:rotate(-45deg);
		}
		&:hover{
			background: $turquoise-color;
			border-color: #fefefe;
			&:before{
				border-color: #fefefe;
			}
		}
		@include media("<tablet"){
			top: auto;
			left: -9999px;
			right: auto;
		}
	}
	.slick-next{
		left: auto;
		right: 29px;
		&:before{
			transform:rotate(135deg);
			left: auto;
			right: 50%;
			margin: -9px -5px 0 0;
		}
		@include media("<tablet"){
			top: auto;
			left: -9999px;
			right: auto;
		}
	}
}