body {
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    color: #707070;
    font-weight: lighter;
}

.primary-color {
    color: #FFE600;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    color: #000;
}


h3 {
    font-size: 20px;
    margin-bottom: 20px;
}

h4 {
    font-size: 16px;
}

p {
    color: #707070;
}

a,
a:hover,
a:focus {
    color: #ffe600;
}

.row {
    margin-bottom: 50px;
}