.lead {
    margin-bottom: 20px;
}

@media (max-width: 767px) {
    .navbar-smak {
        background: rgba(19, 19, 22, 0.7);
    }
    .navbar-smak .nav {
        padding: 5px 0;
    }
  
    .navbar-smak .navbar-brand {
        padding: 5px 15px 0 0;
    }
    .lead {
        font-size: 30px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .lead {
        font-size: 30px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .lead {
        font-size: 30px;
    }
}
