@import 'includes/variables.scss';
@import 'includes/reset.scss';

body {
    background-color: #fff;
    color: #000;
}

.container {
    max-width: 1180px;
    margin: 0 auto;
    height: 100%;
}

.st-col {
    width: 50%;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cols {
    display: flex;
    align-items: center;
}

.section-med {
    height: 805px;
}

.st-col--img {
    height: 100%;
}

footer {
    background-color: #dcdcdc;
}

.copyright {
    padding: 10px 0;
    color: #fff;
    font: 400 14px/1.5 $Yantramanav;
}

@import 'includes/header.scss';
@import 'includes/about.scss';
@import 'includes/reviews.scss';
@import 'includes/slider.scss';
@import 'includes/place.scss';
@import 'includes/find.scss';
@import 'includes/media.scss';
