li:nth-child(3) a:link {
	color: #f70;
}
li:nth-child(4) a:link {
	color: #f70;
}
li:nth-child(5) a:link {
	color: #f70;
}	
li:nth-child(6) a:link {
	color: #666;
}
li:nth-child(7) a:link {
	color: #666;
}
li:nth-child(8) a:link {
	color: #666;
}
a[target="_blank"] { 
    background: url(blank.png) no-repeat 100% 3px;
    padding-right: 25px; 
   }		
	