.contacts {
    border-top: 1px solid #bebebd;
    box-shadow: 0 1px 4px #ccc;
}

.contacts-wrapper {
    margin-left: 40px;
    padding-top: 41px;
    padding-bottom: 32px;
}

.contacts-captions {
    font-size: 16px;
    color: #444c57;
}

.contacts-content {
    color: #a8abb0;
    font-size: 13px;
}

.contacts-tweet {
    color: #378eef;
    &:hover {
        text-decoration: underline;
    }
}

.contacts-tweet_posted {
    font-style: italic;
}

.fa-4x {
    color: #ed7432;
}

.panel-contacts {
    background-color: #f3f3f3;
    border-color: #d2d2d2;
    padding-top: 25px;
    padding-left: 35px;
    box-shadow: 0 1px 2px rgba(255, 255, 255, .6), inset 0 1px 3px rgba(0, 0, 0, .1);
}

.support-number {
    color: #434b56;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 2px;
}

.support-caption {
    text-transform: uppercase;
    font-size: 12px;
    line-height: 20px;
    color: #a8abb0;
}

.support-link {
    color: #378eef;
    border-bottom: 1px dotted #378EEF;
    &:hover {
        color: #378eef;
        text-decoration: none;
        border-bottom: none;
    }
}

.life-ring {
    padding-top: 5px;
}

.social-buttons {
    padding-left: 25px;
}
