.features {
    background-color: #e6e6e6;
}

.features-header {
    background: url(../img/dotted.png)left top repeat-x;
    margin-left: 40px;
    padding-top: 38px;
    padding-bottom: 30px;
}

.feature-header_main {
    color: #434b56;
    font-size: 18px;
}

.features-text {
    color: #656d78;
}

.learn-more_link {
    color: #434b56;
}

.features-link {
    .fa-arrow-circle-o-right:before,
    .learn-more_link {
        color: #a5a8ac;
    }
}
