
.header-row {
  display: flex;
  width: 100%;
  text-align: center;
}

.header-title {
  width: 100%;
  margin: auto;
}

.section-title {
  margin: 15px 0;
}

.poster-image {
  max-height: 300px;
}

.card-title {
  min-height: 48px;
}