html,
body {
  min-height: 100vh;
}

body {
  background: #111;
  color: #fff;
  background-repeat: no-repeat;
}

.App {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h2 {
  font-size: 6rem;
  margin: 0;
}
